<div class="main">
    <div class="top">
        <p>
            <span class="s">00</span>
            <span class="m">00</span>
            <span class="h">00</span>
        </p>
    </div>
    <a class="hongbao" href="http://msports.eastday.com/downloadapp.html?pagefrom=guoqing&from=guoqing_xiazai"></a>
    <div class="rule">活动<br>规则</div>
    <div class="rule_win">
        <div class="content">
            <div class="title">
                <h3><p>活动规则</p><b></b></h3>
            </div>
            <div class="rule1">活动时间：</div>
            <div class="rule2">10月1日00:00- 10月8日00:00</div>
            <div class="rule1">活动规则：</div>
            <div class="rule2 rule3">每天仅可以领取页面上所有的优惠券一次</div>
            <div class="rule2 rule3">活动期间每日零点刷新可领取次数</div>
            <div class="rule2 rule3">用户需要登录注册才可以领取相关优惠券</div>
            <div class="rule2 rule3">当天领取的优惠券仅限当天使用，过期作废！</div>
            <div class="rule2 rule3">具体优惠券使用规则详见优惠券页面解释</div>
            <div class="rule2 rule3">领取的优惠券可以在东方体育PC,H5,APP购买专家推荐方案时使用</div>
            <div class="colse">我知道了</div>
        </div>
    </div>
    <div class="parts part1">
        <div class="title">
            <h3><p>万能券,1元也能看方案</p><b></b></h3>
        </div>
        <ul class="list">
            <li class="yuq yuq_p1_1 s1"><p>领券后购买28元及以下方案只需1元<br><span>活动暂未开始</span></p></li>
            <li class="yuq yuq_p1_8 s1"><p>领券后购买38元及以上方案只需8元<br><span>活动暂未开始</span></p></li>
        </ul>
    </div>
    <div class="parts part2">
        <div class="title">
            <h3><p>直减券，抢到就是赚到</p><b></b></h3>
        </div>
        <ul class="list">
            <li class="yuq yuq_p2 s1"><b>5</b><p>全平台通用，购买任意方案直减5元 <br><span>活动暂未开始</span></p></li>
            <li class="yuq yuq_p2 s1"><b>8</b><p>全平台通用，购买任意方案直减8元 <br><span>活动暂未开始</span></p></li>
        </ul>
    </div>
    <div class="parts part3">
        <div class="title">
            <h3><p>满减券，超红专家也能看</p><b></b></h3>
        </div>
        <ul class="list">
            <li class="yuq yuq_p3 s1"><b>40</b><p>全平台通用，满88可用<br><span>活动暂未开始</span></p></li>
            <li class="yuq yuq_p3 s1"><b>20</b><p>全平台通用，满58可用<br><span>活动暂未开始</span></p></li>
            <li class="yuq yuq_p3 s1"><b>10</b><p>全平台通用，满38可用<br><span>活动暂未开始</span></p></li>
            <li class="yuq yuq_p3 s1"><b>5 </b><p>全平台通用，满28可用<br><span>活动暂未开始</span></p></li>
        </ul>
    </div>
    <div class="bottom"></div>
</div>