<% if (IS_PRODUCTION) { %>

<% }else { %>

<% } %>
<div class="main">
    <h3>活动规则</h3>
    <p class="rule"><i>1.</i>本次趣味猜猜猜使用本APP虚拟金币参加。</p>
    <p class="rule"><i>2.</i>每个用户每天最多只能投注20次。</p>
    <p class="rule"><i>3.</i>竞猜截止时间为比赛开始前10分钟。</p>
    <p class="rule"><i>4.</i><b style="color: #f33;">最后得到的金币奖励是统一结算，投注时的赔率仅作参考。</b></p>
    <p class="rule"><i>5.</i>竞猜结果、获奖通知将在比赛结束后12小时内公布，获奖用户将在【系统通知】收到获奖通知以及领取方法。</p>
    <p class="rule"><i>6.</i>所有胜平负结果以竞猜记录页公布的结果为准，包括场上发生不可控事件，裁判直接判定比赛胜平负等情况。</p>
    <p class="rule"><i>7.</i>如遇赛事取消，延误，金币退还到用户账户。</p>
    <p class="rule"><i>8.</i>如有领奖失败等情况，请邮件至：kefu@021.com</p>
    <h3 class="mb2">竞猜问题说明</h3>
    <p>【赛果题】此类题型是对一段时间内赛事投注（包括伤停补时，但不包括加时赛、点球大战所用时间）胜平负赛果进行预测投注的题目。例如，90分钟内的胜平负赛果是？</p>
    <p>【让球投注题目】此类题型是对让球投注胜负赛果进行预测投注的题目。例如，90分钟内【主队名】让【客队名】X球后的赛果是？</p>
    <p>【大小球预测题目】此类题型是对大于（小于）某个球数进行预测投注的题目。例如，90分钟内两队进球总数目大于/小于X个？</p>
    <p>【其他预测题目】此类题型是对某个球员/球队 能否进某个球数进行预测投注的题目。例如，90分钟内【球员名】能进X个球？</p>
    <!--<h3 class="mb2">保本卡说明</h3>-->
    <!--<p class="rule3"><i>1.</i>用途</p>-->
    <!--<p class="rule4">若使用保本卡，用户猜中，则按正常投注奖励处理；用户猜错，则返还用户投注原数额的金币/零钱；若赛事流局，则退还保本卡。</p>-->
    <!--<p class="rule3"><i>2.</i>获得方法</p>-->
    <!--<p class="rule4">前提：新用户需先参与竞猜一次，第二次投注才能使用保本卡；</p>-->
    <!--<p class="rule4">2.1&nbsp;&nbsp;若已经绑定师傅，则师徒各获得一张保本卡；若未绑定师徒关系，则新用户自己获得一张保本卡（后续绑定师傅，师傅不会获得保本卡）</p>-->
    <!--<p class="rule4">2.2&nbsp;&nbsp;用户通过收徒可获得多张保本卡，每邀请一个新徒弟参与竞猜后，保本卡数量+1；</p>-->
    <!--<p class="rule3"><i>3.</i>保本卡有效期</p>-->
    <!--<p class="rule4">保本卡是东方头条向用户发放的专用于《竞猜世界杯》活动的临时性卡片道具，保本卡的统一作废时间为世界杯结束，即2018年7月15日22:50。全平台所有保本卡立即清空，请用户在此时间点前使用。未在此时间点前使用带来的损失东方头条不承担任何责任。</p>-->
    <h3 class="mb2">免责声明</h3>
    <p class="rule"><i>1.</i>严厉禁止和打击恶意刷参与活动的行为。对于恶意刷参与者，东方头条有权取消其奖励资格，并保留追究其法律责任的权利。</p>
    <p class="rule"><i>2.</i>如果出现因网络传输故障等非东方头条原因而导致参与者提交的信息延迟或错误等，东方头条不承担任何责任。</p>
    <p class="rule"><i>3.</i>如遇不可抗力因素，或者活动和国家法律法规冲突的，一切以法律为上。如果导致本次活动因故无法进行的时候，东方头条在法律允许的范围内有权决定取消、终止、修改或暂停本活动。</p>
    <p class="rule"><i>4.</i>任何参与本活动的用户，应仔细阅读完本声明，一旦参加本活动，及被视为对本声明全部内容的认可和接受。</p>
    <p class="rule"><i>5.</i>本次活动最终解释权归东方头条所有。</p>
</div>