<header>
    <h2>2018NBA季后赛</h2>
</header>
<div class="data-main">
    <div class="content clearfix" id="duelTab">
        <!--<div class="match-group-top1 match-group">
            <div class="match">
                <div class="teams">
                    <span class="icon">
                        <img onerror="this.src=''" src="http://imgsports.eastday.com/sports/icons/team/19ff835f039a2603d79c24f9d7f5a497.png">
                        <div class="team">勇士</div>
                    </span>
                    <span class="icon">
                        <img onerror="this.src=''" src="http://imgsports.eastday.com/sports/icons/team/2f3577cb5882721a98d7b9c8a9bd1aa6.png">
                        <div class="team">开拓者</div>
                    </span>
                </div>
                <div class="line"></div>
                <span class="line-vertical"></span>
            </div>
            <div class="match">
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/860b2dec72332c96a4531aea14ab6075.png">				<div
                                class="team">快船</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/d53d3669f2b2bfea2d81f12918ce3a7f.png">				<div
                                class="team">爵士</div></span></div>
                <div class="line"></div>
                <span class="line-vertical"></span></div>
            <div class="match">
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/c94ea1b0fef8b4d26863e009a647b387.png">				<div
                                class="team">马刺</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/0a4beb2c3762b25d8fa8a79f02c270f3.png">				<div
                                class="team">灰熊</div></span></div>
                <div class="line"></div>
                <span class="line-vertical"></span></div>
            <div class="match">
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/ba890908403542db0f8b1e496d0f56db.png">				<div
                                class="team">火箭</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/2050cdce0ec126d955d832bfb79a0372.png">				<div
                                class="team">雷霆</div></span></div>
                <div class="line"></div>
                <span class="line-vertical"></span></div>
        </div>
        <div class="match-group-top2 match-group">
            <div class="match">
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div></span></div>
                <div class="line"></div>
                <span class="line-vertical"></span></div>
            <div class="match">
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div></span></div>
                <div class="line"></div>
                <span class="line-vertical"></span></div>
        </div>
        <div class="match-group-top3 match-group">
            <div class="match">
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div></span></div>
                <div class="line"></div>
                <span class="line-vertical"></span></div>
        </div>
        <div class="match-group-center match-group">
            <div class="match">
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png" alt="">				<div
                                class="team">?</div>			</span>
                    <div class="labels">
                        <div class="score"></div>
                        <div class="score match-name">总决赛</div>
                    </div>
                    <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png" alt="">				<div
                                class="team">?</div>			</span></div>
            </div>
        </div>
        <div class="match-group-bottom3 match-group bottom">
            <div class="match"><span class="line-vertical"></span>
                <div class="line"></div>
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div></span></div>
            </div>
        </div>
        <div class="match-group-bottom2 match-group bottom">
            <div class="match"><span class="line-vertical"></span>
                <div class="line"></div>
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div></span></div>
            </div>
            <div class="match"><span class="line-vertical"></span>
                <div class="line"></div>
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://msports.eastday.com/h5/img/nomatch.png">				<div
                                class="team">?</div></span></div>
            </div>
        </div>
        <div class="match-group-bottom1 match-group bottom">
            <div class="match"><span class="line-vertical"></span>
                <div class="line"></div>
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/78f14470a56dd4e06058271195ef5b51.png">				<div
                                class="team">凯尔特</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/db48c6e07a09cb9bc81388adf5df5362.png">				<div
                                class="team">公牛</div></span></div>
            </div>
            <div class="match"><span class="line-vertical"></span>
                <div class="line"></div>
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/9894cb7d43b9bdb0118ad616fa727387.png">				<div
                                class="team">奇才</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/d92fa20d1fcdf9621870ed499bc7fff9.png">				<div
                                class="team">老鹰</div></span></div>
            </div>
            <div class="match"><span class="line-vertical"></span>
                <div class="line"></div>
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/3fe3fa9a11e89d034eed451d387a2b7e.png">				<div
                                class="team">骑士</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/b3e3b2037ebfd052b5e8b5ce02ebd4df.png">				<div
                                class="team">步行者</div></span></div>
            </div>
            <div class="match"><span class="line-vertical"></span>
                <div class="line"></div>
                <div class="teams"><span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/ff31d793ae7b7e7f620379aa9108ff00.png">				<div
                                class="team">猛龙</div>			</span> <span class="icon">				<img
                                onerror="this.src=&quothttp://msports.eastday.com/h5/img/nomatch.png&quot;"
                                src="http://imgsports.eastday.com/sports/icons/team/af7916614df058e5cd33adab77c93b05.png">				<div
                                class="team">雄鹿</div></span></div>
            </div>
        </div>-->
    </div>
</div>
<a href="zhuanti_nba_duel.html" class="btn-back"></a>