<div class="recharge-box">
    <!--<header>
        <i class="back"></i><h3>充值1</h3>
    </header>-->
    <div class="main">
        <div class="sec1">
            <p>充值账号：**</p>
            <p>当前元宝：<span>**</span> 元宝 <i></i></p>
        </div>
        <div class="recharge-sec2">
            <h3>充值金额:&nbsp;<span>（1元=1元宝）</span></h3>
            <ul>
                <li class="sel" data-num="1">
                    <h4>30元宝</h4>
                </li>
                <li data-num="2">
                    <h4>80元宝</h4>
                </li>
                <li data-num="3">
                    <h6>充158元</h6>
                    <h5>送<b>38</b>元宝</h5>
                </li>
                <li data-num="4">
                    <h6>充288元</h6>
                    <h5>送<b>58</b>元宝</h5>
                </li>
                <li data-num="5">
                    <h6>充888元</h6>
                    <h5>送<b>188</b>元宝</h5>
                </li>
                <li data-num="6">
                    <h6>充1288元</h6>
                    <h5>送<b>258</b>元宝</h5>
                </li>
            </ul>
            <p class="paynum">
                应支付：30元
            </p>
        </div>
        <div class="recharge-sec3">
            <h3>选择支付方式</h3>

            <div class="row sel wx" data-type="wx">
                <i></i>微信支付
            </div>
            <div class="row zfb" data-type="zfb">
                <i></i>支付宝支付
            </div>

        </div>
        <footer>
            <div class="pay_btn" id="pay_btn">确认支付</div>
            <div class="agreement">
                <i id="btnAgree" class="agree"></i>支付即表示同意<span id="payAgreement"><a href="rechargeagreement.html">《充值协议》</a></span>
            </div>
            <h6>温馨提示：</h6>
            <p>1. 红彩达人非购彩平台，元宝一经充值成功，只可用于购买专家方案，不支持提现、购彩等操作。</p>
            <p>2. 元宝充值和消费过程中遇到问题，请及时联系红彩达人客服，客服电话：021-86688666（客服时间：09:00-23:00）客服邮箱：chenxiyang@021.com</p>
        </footer>
    </div>
</div>
