<!---->
<div class="main">
    <ul class="tab_nav">
        <li>可使用<span></span></li>
        <li>已用过<span></span></li>
        <li>已过期<span></span></li>
    </ul>
    <ul class="tickets">
        <li id="libao" hd_id="1" class="can_use link">
            <div class="left">
                <div class="value"></div>
                <div class="type">新用户专享</div>
            </div>
            <div class="right">
                <h6>新用户大礼包</h6>
                <p>天天红单，好运不断！</p>
                <!--<div class="time">有效期:2018-12-31</div>-->
                <i>立即领取></i>
            </div>
        </li>
    </ul>
</div>