<div id="wrapper">
    <section class="sec-match">
        <ul class="clearfix Android_Slider_Fix">
            <!-- <li class="clearfix all">
                        <a href="/data_world_up_duel.html?name=world_cup" suffix="shijiebei" target="_parent">
                            点击查看
                            <br> 全部赛程
                        </a>
                    </li> -->
        </ul>
        <div class="pull-down-load-tips" style="animation: slideUp 1s ease forwards;">
            <i class="iloading" style="transform: rotate(1deg);"></i>
            <span class="txt">下拉加载</span>
        </div>
    </section>
    <section class="navs">
        <ul>
            
        </ul>
    </section>
    <div class="separate-line"></div>
    <ul class="news" id="newsTop"></ul>
    <section class="sec-news-list">
        <ul></ul>
    </section>
    <section class="all-football-rank">
        <!--<span class="all-football-title">世界杯16强</span>
        <ul class="Android_Slider_Fix">

        </ul>-->
    </section>
    <ul class="news" id="news"></ul>
    <div class="loading-tips2 btn-refresh2">
        <span class="loading rotating"></span>正在载入新内容...</div>
</div>