<script>
    var worldapi = 'http://msports.eastday.com/data/zhuanti/1_'
</script>
<div class="header">
    <h3><span></span>2018年俄罗斯世界杯是第21届世界杯足球赛。比赛将于2018年6月14日至7月15日在俄罗斯境内11座城市中的12座球场内举</h3>
    <!---->
</div>
<section class="sec1" id="secNewsList">
    <!--<div class="btn-more-news">有新闻，点击查看  </div>-->
    <ul></ul>
    <!--<div class="date">06月13日</div>
    <div class="line"></div>
    <ul>
        <li>
            <div class="time">
                <span></span>20:45:15
            </div>
            <div class="info">
                <p>这是中超的一个历史纪录，这样的阵容呈现，也是中超超额投入带来的绩效。在世界杯上，这些球员的表现，对中超的推广。<a href=""><i></i>贝弗利发布自己训练的视频：是的，这是184公斤 </a></p>
                <div class="img-boxs clearfix">
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                </div>
                <div class="img-boxs img2 clearfix">
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                </div>
                <div class="img-boxs img3 clearfix">
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                </div>
                <div class="img-boxs img2 clearfix">
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                </div>
                <div class="img-boxs img1 clearfix">
                    <a href="">
                        <div class="img-box">
                            <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                            <div class="i-play"></div>
                        </div>
                    </a>
                </div>
                <div class="img-boxs img1 clearfix">
                    <div class="video-box">
                        &lt;!&ndash;<img src="//imgmini.eastday.com/video/vzixun/20160615/20160615162859788651284_1_mwpm_05501609.jpeg">&ndash;&gt;
                        <video id="J_video" class="video" src="http://o6yh618n9.qnssl.com/NQ67ZVSv_3916457051.mp4" data-type="vgaoxiao" poster="//imgmini.eastday.com/video/vzixun/20160615/20160615162859788651284_1_mwpm_05501609.jpeg" type="video/mp4" preload="true" controls="none" x5-video-player-type="h5" x5-video-player-fullscreen="true" x5-video-orientation="portraint" x-webkit-airplay="allow" webkit-playsinline="true" playsinline="true" width="100%" height="100%" data-duration="33200" data-source="来源" data-publishtime="2017-02-22 12:12" data-size="11234" data-width="640" data-height="360"></video>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="time">
                <span></span>20:45:15
            </div>
            <div class="info">
                <p>这是中超的一个历史纪录，这样的阵容呈现，也是中超超额投入带来的绩效。在世界杯上，这些球员的表现，对中超的推广。<a href=""><i></i>贝弗利发布自己训练的视频：是的，这是184公斤 </a></p>
                <div class="img-boxs img2 clearfix">
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>
                    <div class="img-box">
                        <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
                    </div>

                </div>
            </div>
        </li>
    </ul>-->
</section>

