<% if (IS_PRODUCTION) { %>
    <div class="sec1"></div>
    <div class="sec1-info"></div>
    <div class="sec2">
        <ul></ul>
    </div>
<% }else { %>
<div class="sec1">
    <!--<div class="row clearfix">
        <div class="head-img">
            <img src="http://00.imgmini.eastday.com/dcminisite/portrait/f33ba7f27dfa031ff1729e3e42e1010d.jpg" alt="">
        </div>
        <div class="m">
            <div class="name">李科 <span>粉丝数:1796</span></div>
            <p>足彩分析师</p>
        </div>
        <div id="attention" class="attention active">已关注</div>
    </div>
    <p class="introduce">资深媒体人，目前任体坛周报篮球部副主任、体坛周报APP体坛+副总编辑，负责体坛系篮球报道12年</p>
    <div class="back"></div><a href="./index.html"><div class="i-home"></div></a>-->
</div>
<div class="sec1-info">
    <!--<div class="row1">
        <h3>近期战绩:</h3>
        <icon class="active"></icon>
        <icon></icon>
    </div>
    <div class="info clearfix">
        <div class="item">
            <h3>1<span>%</span></h3>
            <div class="r">
                <h4>近期胜率</h4>
                <p>进12中8</p>
            </div>
        </div>
        <div class="item">
            <h3>6</h3>
            <div class="r">
                <h4>最大连红数</h4>
                <p>最新3连红</p>
            </div>
        </div>
    </div>-->
</div>
<div class="sec2">
    <ul></ul>
</div>
<% } %>
