<% if (IS_PRODUCTION) { %>
    <div class="sec1">
        <div class="title">
            nba关注度最高的比赛：科比球衣退役仪式，勇士给湖人一个面子吗？
        </div>
        <div class="info clearfix">
            <div class="header">
                <img src="http://imgsports.eastday.com/sports/icons/team/b3e3b2037ebfd052b5e8b5ce02ebd4df.png" alt="">
            </div>
            <div class="right">
                <h3>科比就是6</h3>
                <p>3分钟前发布</p>
            </div>
        </div>
    </div>
    <div class="sec2">
        <div class="row1 clearfix">
            <div class="name">德国杯</div>
            <div class="line"></div>
            <div class="time">2017-12-19 09:00</div>
            <div class="tag">未开始</div>
        </div>
        <!--<div class="row2 clearfix">
            <div class="box-wrapper clearfix">
                <div class="team">
                    <div class="img">
                        <img src="http://imgsports.eastday.com/sports/icons/team/b3e3b2037ebfd052b5e8b5ce02ebd4df.png" alt="">
                    </div>
                    <p>火箭</p>
                </div>
                <div class="text">VS</div>
                <div class="team">
                    <div class="img">
                        <img src="http://imgsports.eastday.com/sports/icons/team/8bf0377e996a7a95ab8bba0eefdc7820.png" alt="">
                    </div>
                    <p>金山勇士</p>
                </div>
            </div>
        </div>
        <div class="row3">
            <ul class="clearfix">
                <li>
                    <p>让球</p>
                    <p>(0)</p>
                </li>
                <li class="blue">
                    <p>主胜</p>
                    <p>1.49</p>
                </li>
                <li class="blue rec">
                    <p>平</p>
                    <p>2.49</p>
                </li>
                <li>
                    <p>客胜</p>
                    <p>3.49</p>
                </li>
            </ul>
        </div>-->
        <div class="row2-new clearfix row2">
            <div class="box-wrapper clearfix">
                <div class="team">
                    <div class="img">
                        <img src="http://imgsports.eastday.com/sports/icons/team/b3e3b2037ebfd052b5e8b5ce02ebd4df.png" alt="">
                    </div>
                    <p>火箭</p>
                </div>
                <div class="text"><span>-</span><i>VS</i><span>-</span></div>
                <div class="team">
                    <div class="img">
                        <img src="http://imgsports.eastday.com/sports/icons/team/8bf0377e996a7a95ab8bba0eefdc7820.png" alt="">
                    </div>
                    <p>金山勇士</p>
                </div>
            </div>
        </div>
        <div class="row3-new row3">
            <ul class="clearfix">
                <li class="blue">
                    <p>主胜</p>
                    <p>(1.49)</p>
                </li>
                <li>
                    (受一球)
                </li>
                <li>
                    <p>客胜</p>
                    <p>3.49</p>
                </li>
            </ul>
        </div>
        <div class="i-zou"></div>
    </div>
    <div class="sec3">
        <h3>推荐理由</h3>
        <!--<p class="topic">已停止售卖，下次比赛前来购买吧~</p>-->
        <!--<p class="topic">支付后显示投注方案及理由</p>
        <div class="time">
            <span>距离售卖截至还有</span>
            <div class="box">08</div><i>:</i>
            <div class="box">10</div><i>:</i>
            <div class="box">48</div>
        </div>-->
        <div class="con">
            <div class="title">
                <i></i>推荐<span>火箭</span> (受一球 0.91)
            </div>
            <p class="team mt30">沙尔克VS科隆</p>
            <p class="detail">
                沙尔克状态有所走低，上轮我推荐沙尔克不败，纳尔多绝杀才从法兰克福身上惊险带走1分。科隆则保级道路艰险，杯赛恐怕不会全力以赴。还是一球/球半，与月初的交手一模一样，科隆上次2:2打平，而且往绩并不惧怕对手，下盘拉力十足，沙尔克这次不仅要赢球还要赢盘。
            </p>
            <p class="team mt50">那不勒斯VS乌迪内斯</p>
            <p class="detail">
                上一场那不勒斯打都灵，庄家后市把上盘升至高水，推荐的下盘被玩死，球队的实力还是厉害，因西涅下半场登场，死亡三小再现江湖。乌鸡上轮把国米的不败金身打破，防守反击的战术相当成功，本场奥多将延续这一打法。盘口从球半/两球降至球半高水，与国米VS乌鸡一致，下盘凭借上轮战胜当时领头羊的壮举足以吸引玩家投注，如今的领头羊被做弱，看好那不勒斯主场完胜对手。
            </p>
        </div>
        <div class="advice">
            <span>倡导理性购彩。</span>查看风险及免责声明>
        </div>
    </div>
<% }else { %>

<div class="sec1">
    <div class="title">
        长跟常红，今日信心单场！瓦朗谢纳VS欧塞尔
    </div>
    <div class="info clearfix">
        <div class="header">
            <img src="http://00.imgmini.eastday.com/dcminisite/portrait/f321286c84375db5b2b5aeb69924eaf2.jpg" alt="">
        </div>
        <div class="right">
            <h3>相信哥，哥不只是个传说</h3>
            <p>2018-08-03 14:07:01</p>
        </div>
    </div>
</div>
<div class="sec2">
    <div class="row1 clearfix">
        <div class="name">法乙</div>
        <div class="line"></div>
        <div class="time">2018-07-28 02:00</div>
    </div>
    <div class="row2 clearfix">
        <div class="box-wrapper clearfix">
            <div class="team">
                <div class="img">
                    <img src="//imgsports.eastday.com/sports/icons/team/5fe61427047288855c542ba336f618ad.png" alt="">
                </div>
                <p>瓦朗谢纳</p>
            </div>
            <div class="text">VS</div>
            <div class="team">
                <div class="img">
                    <img src="//imgsports.eastday.com/sports/icons/team/e904ed40852236215732ce0d1655abbd.png" alt="">
                </div>
                <p>欧塞尔</p>
            </div>
        </div>
    </div>
    <div class="row3">
        <ul     					class="clearfix li_4"
        >
            <li>
                <p>让球</p>
                <p>(-1)</p>
            </li>
            <li>
                <p>胜</p>
                <p>6.05</p>
            </li>
            <li>
                <p>平</p>
                <p>3.95</p>
            </li>
            <li>
                <p>负</p>
                <p>1.35</p>
            </li>
        </ul>
    </div>
</div>


<!--<div class="sec2">
    <div class="row1 clearfix">
        <div class="name">德国杯</div>
        <div class="line"></div>
        <div class="time">2017-12-19 09:00</div>
        &lt;!&ndash;<div class="tag">未开始</div>&ndash;&gt;
    </div>
    <div class="row2 clearfix">
        <div class="box-wrapper clearfix">
            <div class="team">
                <div class="img">
                    <img src="http://imgsports.eastday.com/sports/icons/team/b3e3b2037ebfd052b5e8b5ce02ebd4df.png" alt="">
                </div>
                <p>火箭</p>
            </div>
            <div class="text">VS</div>
            <div class="team">
                <div class="img">
                    <img src="http://imgsports.eastday.com/sports/icons/team/8bf0377e996a7a95ab8bba0eefdc7820.png" alt="">
                </div>
                <p>金山勇士</p>
            </div>
        </div>
    </div>
    <div class="row3">
        <ul class="clearfix">
            <ul class="clearfix">
                <li>
                    <p>主</p>
                    <p>0.87</p>
                </li>
                <li>
                    <p>平手</p>
                </li>
                <li>
                    <p>客</p>
                    <p>0.93</p>
                </li>
            </ul>
        </ul>
    </div>
    &lt;!&ndash;<div class="row2-new clearfix row2">
        <div class="box-wrapper clearfix">
            <div class="team">
                <div class="img">
                    <img src="http://imgsports.eastday.com/sports/icons/team/b3e3b2037ebfd052b5e8b5ce02ebd4df.png" alt="">
                </div>
                <p>火箭</p>
            </div>
            <div class="text"><span>-</span><i>VS</i><span>-</span></div>
            <div class="team">
                <div class="img">
                    <img src="http://imgsports.eastday.com/sports/icons/team/8bf0377e996a7a95ab8bba0eefdc7820.png" alt="">
                </div>
                <p>金山勇士</p>
            </div>
        </div>
    </div>
    <div class="row3-new row3">
        <ul class="clearfix">
            <li class="blue win">
                <p>主胜</p>
                <p>(1.49)</p>
            </li>
            <li>
                (受一球)
            </li>
            <li>
                <p>客胜</p>
                <p>3.49</p>
            </li>
        </ul>
    </div>&ndash;&gt;
    <div class="i-red"></div>
</div>-->
<!--<div class="sec2">
    <div class="row1 clearfix">
        <div class="name">德国杯</div>
        <div class="line"></div>
        <div class="time">2017-12-19 09:00</div>
        &lt;!&ndash;<div class="tag">未开始</div>&ndash;&gt;
    </div>
    <div class="row2 clearfix">
        <div class="box-wrapper clearfix">
            <div class="team">
                <div class="img">
                    <img src="http://imgsports.eastday.com/sports/icons/team/b3e3b2037ebfd052b5e8b5ce02ebd4df.png" alt="">
                </div>
                <p>火箭</p>
            </div>
            <div class="text">VS</div>
            <div class="team">
                <div class="img">
                    <img src="http://imgsports.eastday.com/sports/icons/team/8bf0377e996a7a95ab8bba0eefdc7820.png" alt="">
                </div>
                <p>金山勇士</p>
            </div>
        </div>
    </div>
    <div class="row3">
        <ul class="clearfix">
            <li>
                <p>让球</p>
                <p>(0)</p>
            </li>
            <li>
                <p>主胜</p>
                <p>1.49</p>
            </li>
            <li class="white"></li>
            <li>
                <p>客胜</p>
                <p>3.49</p>
            </li>
        </ul>
    </div>
    &lt;!&ndash;<div class="row2-new clearfix row2">
        <div class="box-wrapper clearfix">
            <div class="team">
                <div class="img">
                    <img src="http://imgsports.eastday.com/sports/icons/team/b3e3b2037ebfd052b5e8b5ce02ebd4df.png" alt="">
                </div>
                <p>火箭</p>
            </div>
            <div class="text"><span>-</span><i>VS</i><span>-</span></div>
            <div class="team">
                <div class="img">
                    <img src="http://imgsports.eastday.com/sports/icons/team/8bf0377e996a7a95ab8bba0eefdc7820.png" alt="">
                </div>
                <p>金山勇士</p>
            </div>
        </div>
    </div>
    <div class="row3-new row3">
        <ul class="clearfix">
            <li class="blue win">
                <p>主胜</p>
                <p>(1.49)</p>
            </li>
            <li>
                (受一球)
            </li>
            <li>
                <p>客胜</p>
                <p>3.49</p>
            </li>
        </ul>
    </div>&ndash;&gt;
    <div class="i-red"></div>
</div>-->
<div class="sec3">
    <h3>推荐理由</h3>
    <!--<p class="topic">已停止售卖，下次比赛前来购买吧~</p>
    <p class="topic">支付后显示投注方案及理由</p>
    <div class="time">
        <span>距离售卖截至还有</span>
        <div class="box">08</div><i>:</i>
        <div class="box">10</div><i>:</i>
        <div class="box">48</div>
    </div>-->
    <div class="con">
        <div class="title">
            <i></i>推荐<span>火箭</span> (受一球 0.91)
        </div>
        <p class="team mt30">沙尔克VS科隆</p>
        <p class="detail">
            沙尔克状态有所走低，上轮我推荐沙尔克不败，纳尔多绝杀才从法兰克福身上惊险带走1分。科隆则保级道路艰险，杯赛恐怕不会全力以赴。还是一球/球半，与月初的交手一模一样，科隆上次2:2打平，而且往绩并不惧怕对手，下盘拉力十足，沙尔克这次不仅要赢球还要赢盘。
        </p>
        <p class="team mt50">那不勒斯VS乌迪内斯</p>
        <p class="detail">
            上一场那不勒斯打都灵，庄家后市把上盘升至高水，推荐的下盘被玩死，球队的实力还是厉害，因西涅下半场登场，死亡三小再现江湖。乌鸡上轮把国米的不败金身打破，防守反击的战术相当成功，本场奥多将延续这一打法。盘口从球半/两球降至球半高水，与国米VS乌鸡一致，下盘凭借上轮战胜当时领头羊的壮举足以吸引玩家投注，如今的领头羊被做弱，看好那不勒斯主场完胜对手。
        </p>
    </div>
    <div class="advice">
        <span>倡导理性购彩。</span>查看风险及免责声明>
    </div>
</div>
<!--<div class="coupon-box" id="rechargeBox">
    <div class="order-box">
        <header>
            <i class="back"></i><h3>确认订单</h3>
        </header>
        <div class="main">
            <div class="order-num">
                <div class="l">订单编号：20180813100201</div>
                <div class="r">18-09-08  12:12</div>
            </div>
            <div class="order-content">
                <ul>
                    <li>
                        <div class="line_1">
                            <div class="img"><img
                                        src="https://00.imgmini.eastday.com/dcminisite/portrait/f77c72ea199d912613c9c9ed996375c5.jpg"
                                        alt=""></div>
                            <div class="info">
                                <b>香港马会推荐</b>
                            </div>
                        </div>
                        <div class="line_2">
                            早场日联：浦和红砖不负从前？磐田要拿分？
                        </div>
                        <div class="line_3">
                            <div class="tag">竞足</div>
                            <div class="tag2">日联</div>
                            <div class="tag3">
                                浦和 VS 磐田
                            </div>
                            <div class="tag4">18:00</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="order-row3">
                <h3>优惠券</h3>
                <p class="disabled">暂无优惠券 <i></i></p>
            </div>
            <div class="recharge-sec3">
                <div class="row" data-type="yb">
                    元宝支付 <span>余额:20元宝</span><a href="">充100送80 <b></b></a>
                </div>
                <div class="row" data-type="wx">
                    <i></i>微信支付
                </div>
                <div class="row sel" data-type="zfb">
                    <i></i>支付宝支付
                </div>
            </div>
            <footer>
                <div class="agreement">
                    <i class="agree" id="btnAgree"></i>已阅读并同意<span id="payAgreement">《内容阅读付费协议》</span>。本平台非购彩平台，元宝不能购彩或提现。
                </div>
            </footer>
        </div>
    </div>
</div>-->
<% } %>
<!--<div class="popup-box">
    <div class="popup">
        <div class="title">方案购买<div class="btn-close"></div></div>
        <div class="main">
            <ul>
                <li>火箭 VS 勇士</li>
                <li>
                    <div class="l">优惠券：</div>
                    <div class="r">暂无可用优惠券</div>
                    <div class="r"><p>10张可用优惠券<i></i></p></div>
                </li>
                <li>
                    <div class="l">支付金额：</div>
                    <div class="r"><span class="num">100</span>元宝</div>
                </li>
                <li>
                    <div class="l">支付方式：</div>
                    <div class="r">
                        <div class="yuanbao"><i></i>元宝</div>
                        <span>剩余90</span>
                    </div>
                </li>
            </ul>
            <div class="btn">元宝不足，立即充值</div>
        </div>
    </div>
</div>-->
<!--<div class="coupon-box">
    <header class="info_header">
        <i class="back">返回</i><h3>可用优惠券</h3>
    </header>
    <div class="main">
        <ul class="tickets">
            <li>
                <div class="check active"></div>
                <div class="can_use">
                    <div class="left">
                        <div class="value"><b>18</b>&nbsp;元宝</div>
                        <div class="type">支付直减</div>
                    </div>
                    <div class="right">
                        <h6>新用户直减18元</h6>
                        <p>全平台通用，红彩达人内所有方案均可使用</p>
                        <div class="time">有效期:2017-12-05</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="check active"></div>
                <div class="can_use">
                    <div class="left">
                        <div class="value"><b>18</b>&nbsp;元宝</div>
                        <div class="type">支付直减</div>
                    </div>
                    <div class="right">
                        <h6>新用户直减18元</h6>
                        <p>全平台通用，红彩达人内所有方案均可使用</p>
                        <div class="time">有效期:2017-12-05</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="check active"></div>
                <div class="can_use">
                    <div class="left">
                        <div class="value"><b>18</b>&nbsp;元宝</div>
                        <div class="type">支付直减</div>
                    </div>
                    <div class="right">
                        <h6>新用户直减18元</h6>
                        <p>全平台通用，红彩达人内所有方案均可使用</p>
                        <div class="time">有效期:2017-12-05</div>
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>-->
<!--<div class="message-tips loadingpay"><i></i></div>-->

<!--<section class="recommend">
    <h3>同场比赛推荐</h3>
    <ul>
        <li>
            <div class="row1 clearfix">
                <a href="/experts_page.html?expertId=200000000041867"> <div class="img">
                        <img src="http://00.imgmini.eastday.com/dcminisite/portrait/6b7eeed38c3d07fa1e2d181a51648372.jpg" alt="">
                    </div>
                    <div class="info">
                        <div class="name">三个火枪手</div>
                        <div class="tags clearfix">
                            <div class="tag">近3场中2场</div>
                            <div class="tag">5连红</div>
                        </div>
                    </div>
                    <div class="per">
                        <div class="yuanbao">
                            0元宝 <i></i>
                        </div>
                    </div></a>
            </div>
            <a href="http://msports.eastday.com/hc/fa/180418143530048523751.html">
                <div class="row2">
                    <div class="tag">让球</div>
                    <span>4月12日 08:00</span>
                    <span class="line">|</span>
                    <span>金山勇士 VS 金山勇士</span>
                </div>
            </a>
        </li>
    </ul>
</section>-->
<!--
<div class="down-load">
    <a href="">
    <div class="img-l"></div>
    <div class="info">
        <p>App内购买，</p>
        <p>享188元新人大礼!</p>
    </div>
    <div class="btn">限时领取</div>
    </a>
</div>-->
