<% if (IS_PRODUCTION) { %>

<% }else { %>

<% } %>

<div class="banner">
    <a href="rule.html" class="rule">活动规则 ></a>
    <p>
        <span id="userInfo">
        </span>
        <a href="my-list.html" class="myjc">我的竞猜 ></a>
        <!--<a style="margin-right: 2rem" href="http://172.20.6.217:9660/H5load.html" class="myjc">登录 ></a>-->
    </p>
</div>
<div class="betting">
    <div class="sel_box">
        <!--<ul class="sel_list">-->
        <!--</ul>-->
        <!--<div class="sel_info">-->
            <!--<p>我支持的选项:  <span class="tit"></span> <a href="rule.html?23333" class="rule">投注规则>></a></p>-->
            <!--<p class="none">当前预计获得金币：<span><span class="coin"></span>金币</span> <a href="rule.html" class="rule">投注规则>></a></p>-->
        <!--</div>-->
        <div class="btns">
            <span class="balance">我支持:</span>
            <button class="submit">确认</button>
        </div>
    </div>
</div>
<div class="console"><div class="content"></div></div>