<div class="main">
    <!--<div id="swiperContainer" class="swiper-container fs-swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="" class="slide-wrap">
                    <img src="//imgsports.eastday.com/res/upload/img/2018-06-19/e899f25e8937969e36691f7f6f79e26d_660_330.jpeg"
                         class="swiper-lazy"/>
                    <div class="info">
                        <p>梅西失点巴萨0-1遭绝杀梅西失点巴萨0-1遭绝杀梅西失点巴萨0-1遭绝杀</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide"><a href="" class="slide-wrap">
                    <img src="//imgsports.eastday.com/res/upload/img/2018-06-18/10a40f358400d8e6c10a8a63be3a0c51_660_330.jpeg"
                         class="swiper-lazy"/>
                    <div class="info">
                        <p>上半场，丹尼斯-苏亚雷斯推射稍稍偏出。易边再战，保利尼奥疑似受伤被换下场。罗贝托造点，梅西主罚的点球被迭戈-洛佩斯扑出。</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide"><a href="" class="slide-wrap">
                    <img src="//imgsports.eastday.com/res/upload/img/2018-06-19/e899f25e8937969e36691f7f6f79e26d_660_330.jpeg"
                         class="swiper-lazy"/>
                </a></div>
            <div class="swiper-slide"><a href="" class="slide-wrap">
                    <img src="//imgsports.eastday.com/res/upload/img/2018-06-18/10a40f358400d8e6c10a8a63be3a0c51_660_330.jpeg"
                         class="swiper-lazy"/>
                </a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>-->
    <div class="part_2">
        <div class="part_tit">
            专家推荐
            <!--<a href="#">查看更多专家></a>-->
        </div>
        <ul class="clearfix">
            <!--<li>
                <a href="#">
                    <img src="http://00.imgmini.eastday.com/dcminisite/portrait/09d263cee4ca52451eefea898a653adc.jpg" alt="">
                    <div class="name">洪旭到人</div>
                </a>
            </li>-->
        </ul>
    </div>
    <!--<div class="part_3">
        <div class="fl"><a href="#"><b>9个新方案</b><br>关注专家方案</a></div>
        <div class="fr"><a href="#"><b>7个方案</b><br>免费方案</a></div>
    </div>-->
    <div class="part_4">
        <div class="part_tit">
            推荐方案
        </div>
        <ul>
<!--
            <li>
                <div class="line_1">
                    <div class="img"><img src="http://00.imgmini.eastday.com/dcminisite/portrait/09d263cee4ca52451eefea898a653adc.jpg" alt=""></div>
                    <div class="info">
                        <b>大元老师</b>
                        <br>
                        <div class="tag b">近3场中3场</div>
                        <div class="tag r">14连红</div>
                    </div>
                    <div class="mz">
                        <span><b>89</b>% <br>命中率</span>
                    </div>
                </div>
                <div class="line_2">
                    nba关注度最高的比赛：科比球衣退役仪式，勇士给湖人一个面子吗？
                </div>
                <div class="line_3">
                    <div class="tag">大小球</div>
                    <div class="date">4月12日 08:00</div>
                    <div class="tit">发布让球推介</div>
                </div>
                <div class="line_4">
                    <div class="time">5分钟前发布</div>
                    <div class="yb">28元宝</div>
                </div>
            </li>
            <li>
                <div class="line_1">
                    <div class="img"><img src="http://00.imgmini.eastday.com/dcminisite/portrait/09d263cee4ca52451eefea898a653adc.jpg" alt=""></div>
                    <div class="info">
                        <b>大元老师</b>
                        <br>
                        <div class="tag b">近3场中3场</div>
                        <div class="tag r">14连红</div>
                    </div>
                    <div class="mz">
                        <span><b>89</b>% <br>命中率</span>
                    </div>
                </div>
                <div class="line_2">
                    nba关注度最高的比赛：科比球衣退役仪式，勇士给湖人一个面子吗？
                </div>
                <div class="line_3">
                    <div class="tag">大小球</div>
                    <div class="date">4月12日 08:00</div>
                    <div class="tit">发布让球推介</div>
                </div>
                <div class="line_4">
                    <div class="time">5分钟前发布</div>
                    <div class="yb">28元宝</div>
                </div>
            </li>
            <li>
                <div class="line_1">
                    <div class="img"><img src="http://00.imgmini.eastday.com/dcminisite/portrait/09d263cee4ca52451eefea898a653adc.jpg" alt=""></div>
                    <div class="info">
                        <b>大元老师</b>
                        <br>
                        <div class="tag b">近3场中3场</div>
                        <div class="tag r">14连红</div>
                    </div>
                    <div class="mz">
                        <span><b>89</b>% <br>命中率</span>
                    </div>
                </div>
                <div class="line_2">
                    nba关注度最高的比赛：科比球衣退役仪式，勇士给湖人一个面子吗？
                </div>
                <div class="line_3">
                    <div class="tag">大小球</div>
                    <div class="date">4月12日 08:00</div>
                    <div class="tit">发布让球推介</div>
                </div>
                <div class="line_4">
                    <div class="time">5分钟前发布</div>
                    <div class="yb">28元宝</div>
                </div>
            </li>-->
        </ul>
    </div>
    <div class="bottom_nav"></div>
</div>