<div class="part1">
    <div class="userInfo">
        <div class="img"></div>
        <p class="name">-</p>
    </div>
    <p class="word">成功参与了世界杯竞猜</p>
    <div class="content">
        <div class="left">

        </div>
        <div class="right">
        </div>
    </div>
</div>
<div class="part2">
    <div class="tit">瓜分<b><span>1000000</span></b>金币</div>
    <div class="share">邀请更多好友参与</div>
</div>
<!--<div class="part3">
    <ul>
        <li class="self">
            <div class="fl">
                <img src="//00.imgmini.eastday.com/dcminisite/portrait/8a936e37eb9570cf76f3507d42c0322b.jpg" alt="">
                旋风小子 <br>
                <span>08-03 11:24</span>
            </div>
            <div class="fr">发起人</div>
        </li>
        <li>
            <div class="fl">
                <img src="//00.imgmini.eastday.com/dcminisite/portrait/8a936e37eb9570cf76f3507d42c0322b.jpg" alt="">
                旋风小子 <br>
                <span>08-03 11:24</span>
            </div>
            <div class="fr">+1加油值</div>
        </li>
        <li>
            <div class="fl">
                <img src="//00.imgmini.eastday.com/dcminisite/portrait/8a936e37eb9570cf76f3507d42c0322b.jpg" alt="">
                旋风小子 <br>
                <span>08-03 11:24</span>
            </div>
            <div class="fr">+1加油值</div>
        </li>
        <li>
            <div class="fl">
                <img src="//00.imgmini.eastday.com/dcminisite/portrait/8a936e37eb9570cf76f3507d42c0322b.jpg" alt="">
                旋风小子 <br>
                <span>08-03 11:24</span>
            </div>
            <div class="fr">+1加油值</div>
        </li>
        <li>
            <div class="fl">
                <img src="//00.imgmini.eastday.com/dcminisite/portrait/8a936e37eb9570cf76f3507d42c0322b.jpg" alt="">
                旋风小子 <br>
                <span>08-03 11:24</span>
            </div>
            <div class="fr">+1加油值</div>
        </li>
    </ul>
</div>-->
<div class="console"><div class="content"></div></div>