<div id="code">
    <b></b>
    <p ondragstart="return false" onselectstart ="return false" onselect="document.selection.empty()" oncopy="document.selection.empty()" onbeforecopy="return false" >长按复制邀请码</p>
    <!--<a href="//a.app.qq.com/o/simple.jsp?pkgname=com.songheng.eastnews&ckey=CK1370365014873"></a>-->
    <a id="openinstall" href="javascript:void(0)"></a>
</div>
<script src="//www.shareinstall.com/js/page/shareinstall.min.js"></script>