<div class="main">
    <div class="head clearfix">

    </div>
    <div class="v-box" id="vBox">
        <video id="J_video" class="video" src="http://juyunlive.juyun.tv/live/08650184.m3u8" data-type="vgaoxiao" poster="<%= DIRS.BUILD_FILE.images['b-poster'] %>" type="video/mp4" preload="none" controls="none" x5-video-player-type="h5" x5-video-player-fullscreen="true" x5-video-orientation="portraint" x-webkit-airplay="true" webkit-playsinline="true"  playsinline="true" width="100%" height="100%"></video>
    </div>
    <div class="content">
        <h3>赛事介绍</h3>
        <p>2018中国杯国际足球锦标赛（全称: 2018格力·中国杯国际足球锦标赛）于2018年3月22日-3月26日在南宁市广西体育中心举行，共有包括东道主（中国）在内的四支球队参赛，其余分别是乌拉圭、威尔士、捷克。乌拉圭在2018年俄罗斯世界杯南美区预选赛中力压老牌足球劲旅阿根廷队；威尔士国家队中一直不乏世界顶尖球员；捷克队与中国足球颇具渊源，河南建业俱乐部的多奇卡尔正是捷克国家队队员。</p>
    </div>
</div>