
<nav>
    <ul class="clearfix">
        <li><a href="./follow.html?from=zj_top_0" suffix="zj_top_0">关注</a></li>
        <li><a href="./index.html?from=zj_top_1" suffix="zj_top_1">推荐</a></li>
        <li class="active">专家</li>
    </ul>
</nav>
<div class="crumbs">
        <ul class="clearfix">
            <li class="active" data-id="1111">足球</li>
            <li data-id="1112">篮球</li>
        </ul>
</div>
<!--<div class="crumbs">
    <ul class="clearfix">
        <li class="active" data-type="mingzhonglv">命中榜</li>
        <li data-type="lianhong">连红榜</li>
    </ul>
</div>-->
<div class="main" id="main">
    <div class="tab-con">
        <ul class="matchs">
        </ul>
    </div>
    <div class="tab-con">
        <ul class="matchs">
        </ul>
    </div>
    <div class="tab-con">
        <ul class="matchs">
        </ul>
    </div>
    <div class="tab-con">
        <ul class="matchs">
        </ul>
    </div>
</div>