<header>
    <div class="back"></div>
    <div class="text">正文</div>
</header>
<section class="sec1">
    <div class="row-t clearfix">
        <div class="head">
            <img src="http://00.imgmini.eastday.com/touxiang/b435d8e855dd023a7cb688de594ae1ef.jpg" alt="">
        </div>
        <div class="info">
            <div class="row clearfix">
                <div class="l">
                    <div class="name">阿Q小妹</div>
                    <div class="time">06-06  12:45</div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <p class="comment-content-maxheight">不是说不该有脾气，也不是说一定要当乖乖仔。看看韦世豪踢过的比赛，他那臭脾气是不分对错</p>
        <div class="reply">
            <div class="row">
                <span>kuli123:</span>  夏季的业余联赛，原本只有业余球员和街球球员参加，水平不是很高。
            </div>
        </div>
        <div class="img-boxs img1 clearfix">
            <div class="img-box">
                <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
            </div>
        </div>
        <div class="img-boxs img2 clearfix">
            <div class="img-box">
                <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
            </div>
            <div class="img-box">
                <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
            </div>
        </div>
        <div class="img-boxs img3 clearfix">
            <div class="img-box">
                <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
            </div>
            <div class="img-box">
                <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
            </div>
            <div class="img-box">
                <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
            </div>
        </div>
        <div class="img-boxs img2 clearfix">
            <div class="img-box">
                <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
            </div>
            <div class="img-box">
                <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
            </div>
            <div class="img-box">
                <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
            </div>
            <div class="img-box">
                <img src="https://03.imgmini.eastday.com/mobile/20180111/20180111144431_bf280eae1d82ceb2e092bf4db3936635_5.jpeg" alt="">
            </div>
        </div>
        <div class="tips">
            <div class="from">来自新浪微博</div>
            <div class="num tip"><i></i><span>22</span></div>
            <div class="zan tip commentZan"><i></i><span>22</span></div>
        </div>
    </div>
</section>
<div class="separate-line"></div>
<section class="sec2">
    <h3>全部评论（868）</h3>
    <ul>
        <li class="clearfix">
            <div class="head">
                <img src="http://00.imgmini.eastday.com/touxiang/b435d8e855dd023a7cb688de594ae1ef.jpg" alt="">
            </div>
            <div class="info">
                <div class="row clearfix">
                    <div class="l">
                        <div class="name">阿Q小妹</div>
                        <div class="time">06-06  12:45</div>
                    </div>
                    <div class="r commentZan">
                        <i></i><span>22</span>
                    </div>
                </div>
                <p class="comment-content-maxheight">不是说不该有脾气，也不是说一定要当乖乖仔。看看韦世豪踢过的比赛，他那臭脾气是不分对错</p>
                <a class="J_expand" href="javascript:;">展开</a>
                <div class="reply">
                    <div class="row">
                        <span>kuli123:</span>  夏季的业余联赛，原本只有业余球员和街球球员参加，水平不是很高。
                    </div>
                    <div class="row">
                        <span>kuli123:</span>回复 <span>kuli123:</span> 夏季的业余联赛，原本只有业余球员和街球球员参加，水平不是很高。
                    </div>
                    <div class="btn-all">查看全部6条回复 ></div>
                </div>
            </div>
        </li>
    </ul>
</section>
<div class="no-more">没有更多评论啦...</div>
