<header>
    <h2>2018年平昌冬季奥运会</h2>
</header>
<div class="main">
    <div class="menu" id="menu">
        <ul class="clearfix">
            <li class="active">焦点新闻</li>
            <li>劲爆视频</li>
            <li>精彩图集</li>
            <li>后台自拟</li>
        </ul>
    </div>
    <div class="tab-bd" id="tabBd">
        <div class="item">
            <ul class="sec-news-list">
                <li class="clearfix">
                    <a href="asfsaf">
                        <div class="img">
                            <img class="lazy" src="http://08.imgmini.eastday.com/mobile/20180126/20180126130107_0d12047cde0e8f3b9d7083f15fdda99e_1_mwpm_03200403.jpg">
                        </div>
                        <div class="info">
                            <div class="title">2018全明星 03级的谢幕演出？甜瓜韦德均落选，詹姆斯一人苦撑门面</div>
                            <div class="source">

                                <div class="l">老徐说球</div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="" suffix="tuijian">
                        <div class="title">格里芬出轨与神秘女子手握手对视10分钟 卡戴珊小妹被戴绿帽子</div>
                        <div class="imgs">
                            <img class="lazy" src="http://00.imgmini.eastday.com/mobile/20180116/20180116115232_63601fd9bfae3bdb5c09ce5468333c76_3_mwpm_03200403.jpg">
                            <img class="lazy" src="http://00.imgmini.eastday.com/mobile/20180116/20180116115232_63601fd9bfae3bdb5c09ce5468333c76_1_mwpm_03200403.jpg">
                            <img class="lazy" src="http://00.imgmini.eastday.com/mobile/20180116/20180116115232_63601fd9bfae3bdb5c09ce5468333c76_4_mwpm_03200403.jpg">
                        </div>
                        <div class="source">

                            <div class="l">刘宝杰 </div>
                        </div>
                    </a>
                </li>
                <li class="clearfix">
                    <a href="http://msports.eastday.com/a/180121005931802000000.html?qid=baiducom&amp;ishot=1&amp;recommendtype=-1&amp;idx=6&amp;pgnum=1&amp;from=NBA&amp;dataType=NBA&amp;typeName=NBA%20&amp;pgtype=NBA" suffix="NBA">
                        <div class="title">火箭夺冠阵容再得一大将，马刺传奇加盟休斯敦</div>
                        <div class="imgs">
                            <img class="lazy" src="http://00.imgmini.eastday.com/mobile/20180121/20180121_b9c52885731b53e3cefb34c52231d96f_mwpm_03200403.jpg">
                            <img class="lazy" src="http://00.imgmini.eastday.com/mobile/20180121/20180121_41a0380381728a80f4d7f93d745f738d_mwpm_03200403.jpg">
                            <img class="lazy" src="http://00.imgmini.eastday.com/mobile/20180121/20180121_a900f108334411aab1e391605476a43c_mwpm_03200403.jpg">
                        </div>
                        <div class="source">
                            <div class="tag-zd">热门</div>
                            <div class="l">蓝梦沙加 </div>
                        </div>
                    </a>
                </li>
                <li class="clearfix video">
                    <a href="">
                        <div class="img-video">
                            <img src="https://03.imgmini.eastday.com/mobile/20180126/20180126095419_f9c16fff683a011225e0472651306dc8_4.jpeg" alt="">
                            <div class="btn-play"></div>
                        </div>
                        <p>威尔第世界博弈卡耳迪点射  国米1-1博罗尼亚</p>
                    </a>
                </li>
                <li class="clearfix video">
                    <a href="">
                        <div class="img-video">
                            <img src="https://03.imgmini.eastday.com/mobile/20180126/20180126095419_f9c16fff683a011225e0472651306dc8_4.jpeg" alt="">
                            <div class="tag">15张</div>
                        </div>
                        <p>威尔第世界博弈卡耳迪点射  国米1-1博罗尼亚</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="item">
            <ul class="sec-news-list">
                <li class="clearfix video">
                    <a href="">
                        <div class="img-video">
                            <img src="https://03.imgmini.eastday.com/mobile/20180126/20180126095419_f9c16fff683a011225e0472651306dc8_4.jpeg" alt="">
                            <div class="tag">15张</div>
                        </div>
                        <p>威尔第世界博弈卡耳迪点射  国米1-1博罗尼亚</p>
                    </a>
                </li>
            </ul>
        </div>
        <div class="item">
            <ul class="sec-news-list">
                <li class="clearfix">
                    <a href="asfsaf">
                        <div class="img">
                            <img class="lazy" src="http://08.imgmini.eastday.com/mobile/20180126/20180126130107_0d12047cde0e8f3b9d7083f15fdda99e_1_mwpm_03200403.jpg">
                        </div>
                        <div class="info">
                            <div class="title">2018全明星 03级的谢幕演出？甜瓜韦德均落选，詹姆斯一人苦撑门面</div>
                            <div class="source">

                                <div class="l">老徐说球</div>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>