<% if (IS_PRODUCTION) { %>

<% }else { %>

<% } %>
<div class="main">
    <div class="person-info clearfix">
        <div class="img">
            <img src="" alt="">
        </div>
        <div class="info">
            <h3></h3>
            <h3></h3>
        </div><a href="alipay.html">绑定支付宝，奖金直接入账>></a>
    </div>
    <ul>
        <li class="nodata">暂无竞猜</li>
    </ul>
</div>
<div class="upwin">
    <div class="up_box">
        <i></i>
        <div class="tit">领取失败</div>
        <p>如有疑问，请联系kefu@021.com</p>
        <button>知道了</button>
    </div>
</div>
<div class="console"><div class="content"></div></div>



