<nav>
    <ul class="clearfix">
        <li><a href="./follow.html?from=top_nav_1" suffix="top_nav_1">关注</a></li>
        <li class="active">推荐</li>
        <li><a href="./expertslist.html?from=top_nav_3" suffix="top_nav_3">专家</a></li>
    </ul>
</nav>
<div class="main">
    <!--<div id="swiperContainer" class="swiper-container fs-swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><a href="" class="slide-wrap">
                    <img src="//imgsports.eastday.com/res/upload/img/2018-06-19/e899f25e8937969e36691f7f6f79e26d_660_330.jpeg"
                         class="swiper-lazy"/>
                    <div class="info">
                        <p>梅西失点巴萨0-1遭绝杀梅西失点巴萨0-1遭绝杀梅西失点巴萨0-1遭绝杀</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide"><a href="" class="slide-wrap">
                    <img src="//imgsports.eastday.com/res/upload/img/2018-06-18/10a40f358400d8e6c10a8a63be3a0c51_660_330.jpeg"
                         class="swiper-lazy"/>
                    <div class="info">
                        <p>上半场，丹尼斯-苏亚雷斯推射稍稍偏出。易边再战，保利尼奥疑似受伤被换下场。罗贝托造点，梅西主罚的点球被迭戈-洛佩斯扑出。</p>
                    </div>
                </a>
            </div>
            <div class="swiper-slide"><a href="" class="slide-wrap">
                    <img src="//imgsports.eastday.com/res/upload/img/2018-06-19/e899f25e8937969e36691f7f6f79e26d_660_330.jpeg"
                         class="swiper-lazy"/>
                </a></div>
            <div class="swiper-slide"><a href="" class="slide-wrap">
                    <img src="//imgsports.eastday.com/res/upload/img/2018-06-18/10a40f358400d8e6c10a8a63be3a0c51_660_330.jpeg"
                         class="swiper-lazy"/>
                </a></div>
        </div>
        <div class="swiper-pagination"></div>
    </div>-->
    <div class="part_2">
        <div class="part_tit">
            专家推荐
            <!--<a href="#">查看更多专家></a>-->
        </div>
        <ul class="clearfix">
            <!--<li>
                <a href="#">
                    <img src="http://00.imgmini.eastday.com/dcminisite/portrait/09d263cee4ca52451eefea898a653adc.jpg" alt="">
                    <div class="name">洪旭到人</div>
                </a>
            </li>-->
        </ul>
    </div>
    <div class="part_3 clearfix">
        <div class="gift-packs">

            <!--<a href="javascript:;" id="hcBanner" class="banner2">
                <div class="info">
                    <h1>￥<span>20</span></h1>
                    <div class="text">
                        <h3>满58元可用</h3>
                        <p>每周五&nbsp;&nbsp;限量<span>开抢</span></p>
                    </div>
                </div>
                <div class="num">
                    <i id="receiveRate"></i>
                    <span>已领<br>99%</span>
                </div>
                <div class="btn">
                    <div class="n">12:00</div><br>准时开抢
                </div>
            </a>-->

           <!-- <a href="http://msports.eastday.com/hc/active10_1.html?from=tj_hd" class="active10_1"></a>-->

        </div>
        <div class="box clearfix">
            <div class="fl"><a href="./plan_list.html?type=yapan&from=tj_nav_yp"><icon></icon><p>亚盘</p></a></div>
            <div class="fl"><a href="./plan_list.html?type=jingcai&from=tj_nav_jz"><icon></icon><p>竞足</p></a></div>
            <div class="fl"><a href="./plan_list.html?type=daxiaoqiu&from=tj_nav_dxq"><icon></icon><p>大小球</p></a></div>
            <div class="fl"><a href="./plan_list.html?type=mianfei&from=tj_nav_mf"><icon></icon><p>免费方案</p></a></div>
        </div>
    </div>
    <div class="part_4">
        <div class="part_tit">
            推荐方案
        </div>
        <ul>
            <!--<li>
                <div class="line_1">
                    <div class="img"><img src="http://00.imgmini.eastday.com/dcminisite/portrait/09d263cee4ca52451eefea898a653adc.jpg" alt=""></div>
                    <div class="info">
                        <b>大元老师</b>
                        <div class="tag b">近3场中3场</div>
                        <div class="tag r">14连红</div>
                    </div>
                    <div class="mz">
                        <span><b>89</b>% <br>命中率</span>
                    </div>
                </div>
                <div class="line_2">
                    nba关注度最高的比赛：科比球衣退役仪式，勇士给湖人一个面子吗？
                </div>
                <div class="line_3">
                    <div class="tag">大小球</div>
                    <div class="tag2">夏季联赛</div>
                    <div class="tag3">沙特阿拉伯 VS 阿根廷  </div>
                    <div class="tag4">08:00</div>
                </div>
                <div class="line_4">
                    <div class="time">5分钟前发布</div>
                    <div class="end">已结束</div>
                    <div class="mark zou"></div>
                </div>
            </li>
            <li>
                <div class="line_1">
                    <div class="img"><img src="http://00.imgmini.eastday.com/dcminisite/portrait/09d263cee4ca52451eefea898a653adc.jpg" alt=""></div>
                    <div class="info">
                        <b>大元老师</b>
                        <div class="tag b">近3场中3场</div>
                        <div class="tag r">14连红</div>
                    </div>
                    <div class="mz">
                        <span><b>89</b>% <br>命中率</span>
                    </div>
                </div>
                <div class="line_2">
                    nba关注度最高的比赛：科比球衣退役仪式，勇士给湖人一个面子吗？
                </div>
                <div class="line_3">
                    <div class="tag">大小球</div>
                    <div class="date">4月12日 08:00</div>
                    <div class="tit">发布让球推介</div>
                </div>
                <div class="line_4">
                    <div class="time">5分钟前发布</div>
                    <div class="yb">28元宝</div>
                </div>
            </li>
            <li>
                <div class="line_1">
                    <div class="img"><img src="http://00.imgmini.eastday.com/dcminisite/portrait/09d263cee4ca52451eefea898a653adc.jpg" alt=""></div>
                    <div class="info">
                        <b>大元老师</b>
                        <div class="tag b">近3场中3场</div>
                        <div class="tag r">14连红</div>
                    </div>
                    <div class="mz">
                        <span><b>89</b>% <br>命中率</span>
                    </div>
                </div>
                <div class="line_2">
                    nba关注度最高的比赛：科比球衣退役仪式，勇士给湖人一个面子吗？
                </div>
                <div class="line_3">
                    <div class="tag">大小球</div>
                    <div class="date">4月12日 08:00</div>
                    <div class="tit">发布让球推介</div>
                </div>
                <div class="line_4">
                    <div class="time">5分钟前发布</div>
                    <div class="yb">28元宝</div>
                </div>
            </li>-->
        </ul>
    </div>
    <div class="bottom_nav"></div>
</div>
<!--<div class="tab-btns">
    <ul class="clearfix">
        <li class="active">
            <a href="index.html">
            <icon></icon>
            <p>首页</p>
            </a>
        </li>
        &lt;!&ndash;<li>
            <a href="">
            <icon></icon>
            <p>专家</p>
            </a>
        </li>
        <li>
            <a href="">
            <icon></icon>
            <p>赛事</p>
            </a>
        </li>&ndash;&gt;
        <li>
            <a href="personal.html">
            <icon></icon>
            <p>我的</p>
            </a>
        </li>
    </ul>
</div>-->
