<div id="J_content" class="news-list">
    <div class="nav-tabs">
        <div class="header">
            <a href="//msports.eastday.com">
            <div class="tabsCollapse" id="btnCollapseHead">全部</div>
            <div class="tips" id="tips"></div></a>
            <h1>24小时热文</h1>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane news-list-wrap" id="newsList">
            <!--<section class="news-item news-item-s2"><a data-type="jiankang"
                                                       href="https://mini.eastday.com/wechat/180401170853239.html?qid=ioswechat&amp;idx=1&amp;recommendtype=-1&amp;pgnum=1&amp;apptypeid=DFTT">
                    <div class="news-wrap">
                        <div class="news-head"><h3>精选丨经常吃腐乳的人，最后都怎么样了？5种病从来没得过</h3></div>
                        <div class="img-wrap clearfix">
                            <div class="img fl"><img class="lazy"
                                                     src="http://00.imgmini.eastday.com/mobile/20180401/20180401170853_d96cfd47f96e345220918f2f2d0eda9d_2_mwpm_03200403.jpg">
                            </div>
                            <div class="img fl"><img class="lazy"
                                                     src="http://00.imgmini.eastday.com/mobile/20180401/20180401170853_d96cfd47f96e345220918f2f2d0eda9d_1_mwpm_03200403.jpg">
                            </div>
                            <div class="img fl"><img class="lazy"
                                                     src="http://00.imgmini.eastday.com/mobile/20180401/20180401170853_d96cfd47f96e345220918f2f2d0eda9d_3_mwpm_03200403.jpg">
                            </div>
                        </div>
                        <p class="tags clearfix"><em class="tag tag-src"></em></p></div>
                </a></section>
            <section class="news-item news-item-s2"><a data-type="yuer"
                                                       href="https://mini.eastday.com/wechat/180401170853720.html?qid=ioswechat&amp;idx=3&amp;recommendtype=-1&amp;pgnum=1&amp;apptypeid=DFTT">
                    <div class="news-wrap">
                        <div class="news-head"><h3>蹿红丨吃什么长不高？这三种食物，宝宝一定要远离！</h3></div>
                        <div class="img-wrap clearfix">
                            <div class="img fl"><img class="lazy"
                                                     src="http://05.imgmini.eastday.com/mobile/20180401/20180401170853_e5e4683926d3c6723c881ee2f8815d29_7_mwpm_03200403.jpg">
                            </div>
                            <div class="img fl"><img class="lazy"
                                                     src="http://05.imgmini.eastday.com/mobile/20180401/20180401170853_e5e4683926d3c6723c881ee2f8815d29_5_mwpm_03200403.jpg">
                            </div>
                            <div class="img fl"><img class="lazy"
                                                     src="http://05.imgmini.eastday.com/mobile/20180401/20180401170853_e5e4683926d3c6723c881ee2f8815d29_4_mwpm_03200403.jpg">
                            </div>
                        </div>
                        <p class="tags clearfix"><em class="tag tag-src"></em></p></div>
                </a></section>
            <section class="news-item news-item-s1"><a data-type="jiankang"
                                                       href="https://mini.eastday.com/wechat/180402064530750.html?qid=ioswechat&amp;idx=5&amp;recommendtype=-1&amp;pgnum=1&amp;apptypeid=DFTT">
                    <div class="news-wrap clearfix">
                        <div class="txt-wrap fl">
                            <div class="news-head"><h3>推荐丨小小一杯热姜水 14个症状药到病除！一般人我不告诉他</h3></div>
                            <p class="tags clearfix"><em class="tag tag-src"></em></p></div>
                        <div class="img-wrap fr"><img
                                    data-lbimg="http://04.imgmini.eastday.com/mobile/20180402/20180402064530_93d63e9c3ca8c82f63ba61e9e5d1cfa0_1_mwpl_05500201.jpg"
                                    class="lazy"
                                    src="http://04.imgmini.eastday.com/mobile/20180402/20180402064530_93d63e9c3ca8c82f63ba61e9e5d1cfa0_1_mwpm_03200403.jpg">
                        </div>
                    </div>
                </a></section>-->
        </div>
    </div>
    <!-- <a class="btn-bottom" id="btnBottom" href="javascript:;" data-url="http://a.app.qq.com/o/simple.jsp?pkgname=com.songheng.eastnews&ckey=CK1369336201442">没看够？去东方头条看更多&gt;&gt;</a> -->
</div>