<div class="main">
    <a href="javascript:history.back()" class="matchdetail">精选赛事</a>
    <div class=" person-info clearfix">
    </div>
    <ul>
        <li class="nodata">暂无竞猜</li>
    </ul>
</div>
<div class="console">
    <div class="content"></div>
</div>



