<div class="main">
    <div class="img"></div>
    <h3>【东方体育升级公告】只为给您更贴心的服务</h3>
    <p>
        尊敬的用户：<br>
        您好！为了给您提供更好的服务，<span class="underLine">8月27日10:00-11:00</span>，红彩达人对系统进行升级。升级期间无法注册会员，购买和查看方案。为此给你带来不便深表歉意！感谢您的理解和支持！<br>
        如有疑问请拨打电话：<span>18352560238</span>。
    </p>
</div>