<div id="wrapper">
    <section class="sec-match">
        <ul class="clearfix Android_Slider_Fix">
            <!-- <li class="clearfix all">
                        <a href="/data_world_up_duel.html?name=world_cup" suffix="shijiebei" target="_parent">
                            点击查看
                            <br> 全部赛程
                        </a>
                    </li> -->
        </ul>
        <div class="pull-down-load-tips" style="animation: slideUp 1s ease forwards;">
            <i class="iloading" style="transform: rotate(1deg);"></i>
            <span class="txt">下拉加载</span>
        </div>
    </section>
    <section class="navs">
        <ul>
            <li>
                <a href="/data_world_up_duel.html?name=world_cup" target="_parent">
                    <i></i>赛程</a>
            </li>
            <li>
                <a href="/data_world_up_duel.html?name=world_cup&type=score" target="_parent">
                    <i></i>积分榜</a>
            </li>
            <li>
                <a href="/data_world_up_duel.html?name=world_cup&type=lists" target="_parent">
                    <i></i>排行榜</a>
            </li>
            <!-- <li>
                <a href="">
                    <i></i>竞猜</a>
            </li> -->
            <li>
                <a href="/theme/hour24.html?name=worldcup" target="_parent">
                    <i></i>热文</a>
            </li>
        </ul>
    </section>
    <ul class="news" id="newsTop"></ul>
    <div class="separate-line"></div>
    <section class="sec-news-list">
        <ul></ul>
        <section class="look-more-news">
            点击查看更多世界杯消息 >>
        </section>
    </section>
    <section class="all-football-rank">
        <span class="all-football-title">世界杯32强</span>
        <ul class="Android_Slider_Fix">
            <li>
                <a href="/data.html?name=els&id=10000051" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/A_1.png" alt="">
                    <p class="rank-txt">俄罗斯</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=dg&id=10000077" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/F_1.png" alt="">
                    <p class="rank-txt">德国</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=xby&id=10000080" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/B_2.png" alt="">
                    <p class="rank-txt">西班牙</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=bx&id=10000083" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/E_1.png" alt="">
                    <p class="rank-txt">巴西</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=agt&id=10004387" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/D_1.png" alt="">
                    <p class="rank-txt">阿根廷</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=fg&id=10000076" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/C_1.png" alt="">
                    <p class="rank-txt">法国</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=stalb&id=10005053" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/A_2.png" alt="">
                    <p class="rank-txt">沙特阿拉伯</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=aj&id=10004854" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/A_3.png" alt="">
                    <p class="rank-txt">埃及</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=wlg&id=10004390" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/A_4.png" alt="">
                    <p class="rank-txt">乌拉圭</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=pty&id=10003565" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/B_1.png" alt="">
                    <p class="rank-txt">葡萄牙</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=mlg&id=10004844" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/B_3.png" alt="">
                    <p class="rank-txt">摩洛哥</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=yl&id=10004691" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/B_4.png" alt="">
                    <p class="rank-txt">伊朗</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=adly&id=10000084" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/C_2.png" alt="">
                    <p class="rank-txt">澳大利亚</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=ml&id=10004389" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/C_3.png" alt="">
                    <p class="rank-txt">秘鲁</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=dm&id=10003673" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/C_4.png" alt="">
                    <p class="rank-txt">丹麦</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=bd&id=10003559" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/D_2.png" alt="">
                    <p class="rank-txt">冰岛</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=kldy&id=10003575" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/D_3.png" alt="">
                    <p class="rank-txt">克罗地亚</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=nrly&id=10000089" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/D_4.png" alt="">
                    <p class="rank-txt">尼日利亚</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=rs&id=10003569" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/E_2.png" alt="">
                    <p class="rank-txt">瑞士</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=gsdlj&id=10000095" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/E_3.png" alt="">
                    <p class="rank-txt">哥斯达黎加</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=sewy&id=10003675" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/E_4.png" alt="">
                    <p class="rank-txt">塞尔维亚</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=mxg&id=10000091" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/F_2.png" alt="">
                    <p class="rank-txt">墨西哥</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=rd&id=10003571" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/F_3.png" alt="">
                    <p class="rank-txt">瑞典</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=hg&id=10004696" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/F_4.png" alt="">
                    <p class="rank-txt">韩国</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=bls&id=10003574" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/G_1.png" alt="">
                    <p class="rank-txt">比利时</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=bnm&id=10004069" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/G_2.png" alt="">
                    <p class="rank-txt">巴拿马</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=tns&id=10004847" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/G_3.png" alt="">
                    <p class="rank-txt">突尼斯</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=ygl&id=10000075" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/G_4.png" alt="">
                    <p class="rank-txt">英格兰</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=bl&id=10003563" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/H_1.png" alt="">
                    <p class="rank-txt">波兰</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=snje&id=10004845" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/H_2.png" alt="">
                    <p class="rank-txt">塞内加尔</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=glby&id=10000094" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/team/H_3.png" alt="">
                    <p class="rank-txt">哥伦比亚</p>
                </a>
            </li>
            <li>
                <a href="/data.html?name=rb&id=10004693" class="rank-a" target="_parent">
                    <img class="rank-img" src="//sports.eastday.com/jscss/v4/img/world_cup_2018/jap.png" alt="">
                    <p class="rank-txt">日本</p>
                </a>
            </li>
        </ul>
    </section>
    <ul class="news" id="news"></ul>
    <div class="loading-tips2 btn-refresh2">
        <span class="loading rotating"></span>正在载入新内容...</div>
</div>