<header>
    <h2>2018NBA季后赛</h2>
</header>
<div class="main">
    <div class="menu" id="menu">
        <ul class="clearfix">
            <li class="active">首轮</li>
            <li>半决赛</li>
            <li>决赛</li>
            <li>总决赛</li>
            <li><a href="data_nba_duel.html">对阵图</a></li>
        </ul>
    </div>
    <div class="tab-bd" id="tabBd">
        <!--<div class="item">
            <div class="tab-h">
                <ul>
                    <li class="active">西部</li><li>东部</li>
                </ul>
            </div>
            <div class="tab-list">
                <ul class="sec-news-list">
                    <li class="clearfix">
                        <div class="row1 clearfix">
                            <div class="col-1">
                                <img src="http://imgsports.eastday.com/sports/icons/team/19ff835f039a2603d79c24f9d7f5a497.png" alt="">
                                <p>骑士</p>
                            </div>
                            <div class="col-2">
                                <h3>4 - 1</h3>
                            </div>
                            <div class="col-1">
                                <img src="http://imgsports.eastday.com/sports/icons/team/19ff835f039a2603d79c24f9d7f5a497.png" alt="">
                                <p>勇士勇士</p>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <a href="">
                                <div class="col-1">
                                    <div class="num">133</div>
                                    <p>(客)</p>
                                </div>
                                <div class="col-2">
                                    <h4>第四场  3月12日18:00</h4>
                                    <div class="state living">LIVE</div>
                                </div>
                                <div class="col-1">
                                    <div class="num">133</div>
                                    <p>(主)</p>
                                </div>
                            </a>
                        </div>
                        <div class="row clearfix">
                            <div class="col-1">
                                <div class="num">133</div>
                                <p>客</p>
                            </div>
                            <div class="col-1">
                                <h4>第四场  3月12日18:00</h4>
                                <div class="state end">回顾</div>
                            </div>
                            <div class="col-1">
                                <div class="num">133</div>
                                <p>主</p>
                            </div>
                        </div>
                        <div class="more"></div>
                        <div class="row clearfix">
                            <div class="col-1">
                                <div class="num">133</div>
                                <p>客</p>
                            </div>
                            <div class="col-1">
                                <h4>第四场  3月12日18:00</h4>
                                <div class="state end">回顾</div>
                            </div>
                            <div class="col-1">
                                <div class="num">133</div>
                                <p>主</p>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="row1 clearfix">
                            <div class="col-1">
                                <img src="http://imgsports.eastday.com/sports/icons/team/19ff835f039a2603d79c24f9d7f5a497.png" alt="">
                                <p>骑士</p>
                            </div>
                            <div class="col-2">
                                <h3>4 - 1</h3>
                            </div>
                            <div class="col-1">
                                <img src="http://imgsports.eastday.com/sports/icons/team/19ff835f039a2603d79c24f9d7f5a497.png" alt="">
                                <p>勇士勇士</p>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <a href="">
                                <div class="col-1">
                                    <div class="num">133</div>
                                    <p>(客)</p>
                                </div>
                                <div class="col-2">
                                    <h4>第四场  3月12日18:00</h4>
                                    <div class="state living">LIVE</div>
                                </div>
                                <div class="col-1">
                                    <div class="num">133</div>
                                    <p>(主)</p>
                                </div>
                            </a>
                        </div>
                        <div class="row clearfix">
                            <div class="col-1">
                                <div class="num">133</div>
                                <p>客</p>
                            </div>
                            <div class="col-1">
                                <h4>第四场  3月12日18:00</h4>
                                <div class="state end">回顾</div>
                            </div>
                            <div class="col-1">
                                <div class="num">133</div>
                                <p>主</p>
                            </div>
                        </div>
                        <div class="more"></div>
                        <div class="row clearfix">
                            <div class="col-1">
                                <div class="num">133</div>
                                <p>客</p>
                            </div>
                            <div class="col-1">
                                <h4>第四场  3月12日18:00</h4>
                                <div class="state end">回顾</div>
                            </div>
                            <div class="col-1">
                                <div class="num">133</div>
                                <p>主</p>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="sec-news-list">
                    <li class="clearfix">
                        <a href="asfsaf">
                            <div class="img">
                                <img class="lazy" src="http://08.imgmini.eastday.com/mobile/20180126/20180126130107_0d12047cde0e8f3b9d7083f15fdda99e_1_mwpm_03200403.jpg">
                            </div>
                            <div class="info">
                                <div class="title">2018全明星 03级的谢幕演出？甜瓜韦德均落选，詹姆斯一人苦撑门面</div>
                                <div class="source">

                                    <div class="l">老徐说球</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>-->
    </div>
</div>