<div class="main">
    <script src="http://vjs.zencdn.net/5.19/video.min.js"></script>
    <div class="head clearfix"></div>
    <div class="v-box" id="vBox">
        <video id="J_video" class="video" src="http://hls.mv.wa5.com/live/2e5ecb0be4860096393ac6d65eb6dce2/playlist.m3u8" data-type="vgaoxiao" poster="<%= DIRS.BUILD_FILE.images['poster-1'] %>" type="rtmp/flv" preload="none" controls="none" x5-video-player-type="h5" x5-video-player-fullscreen="true" x5-video-orientation="portraint" x-webkit-airplay="true" webkit-playsinline="true"  playsinline="true" width="100%" height="100%"></video>
    </div>
    <div class="row video-list clearfix">
        <div class="title">其他场地</div>
        <div class="img" data-l="http://hls.mv.wa5.com/live/df15ad091ba93f5820c2c1ab92c7e7f3/playlist.m3u8
"></div>
        <div class="img" data-l="http://hls.mv.wa5.com/live/dfdecdde8068b9d3859df3a07093b71b/playlist.m3u8"></div>
    </div>
    <div class="content">
        <h3>比赛简介</h3>
        <p>2018年全国空手道锦标系列赛一共四站。 </p>
        <p>第一站比赛时间：2018年4月11日至15日（4月11日报到，4月16日离会）。其他三站比赛时间另行通知。</p>
        <p> 比赛地点：江苏省无锡市太湖国际博览中心B4馆（无锡市滨湖区清舒道88号）</p>
    </div>
</div>