<% if (IS_PRODUCTION) { %>

<% }else { %>

<% } %>

<div class="banner">
    <a href="rule.html" class="rule">活动规则 ></a>
    <p>
        <span id="userInfo">
        </span>
        <a href="my-list.html" class="myjc">我的竞猜 ></a>
    </p>
</div>
<div class="betting">
    <div class="sel_box">
        <ul class="sel_list">
        </ul>
        <div class="sel_info">
            <p>我支持的选项:  <span class="tit"></span> <a href="rule.html" class="rule">投注规则>></a></p>
            <p class="none">当前预计获得金币：<span><span class="coin"></span>金币</span> <a href="rule.html" class="rule">投注规则>></a></p>
        </div>
        <div class="btns">
            <span class="balance">余额:0金币 <br> <i>零钱：0元</i></span>
            <button class="submit">下注</button>
        </div>
    </div>
</div>
<div class="money_win">
    <div class="alt">
        <b class="tit">确定要投注吗？</b>
        <p>该投注将会消耗 <span class="coin">0</span>金币和 <span class="lq">0</span>元零钱</p>
        <div class="sel"><button class="qx">取消</button> <button class="qd">确定</button></div>
    </div>
</div>
<div id="upwinshare">

</div>
<div class="console"><div class="content"></div></div>