<div class="main">
    <div class="put_box">
        <div class="number">支付宝账户： <input type="text"  placeholder="请输入支付宝账户(手机号或邮箱)"></div>
        <div class="name"> 支付宝姓名： <input type="text"  placeholder="请输入绑定支付宝的姓名"></div>
    </div>
    <button class="saveBtn">保存</button>
    <div class="rule">
        <div class="tit">绑定说明：</div>
        <p>1. 请确保自己的支付宝账号是实名认证的。</p>
        <p>2. 如果以上资料确保无问题仍无法领取，请联系：kefu@021.com</p>
    </div>
</div>
<div class="console"><div class="content"></div></div>
