<nav>
    <ul class="clearfix">
        <li class="active" data-id="900004">足球</li>
        <li data-id="900001">篮球</li>
    </ul>

</nav>
<!--<div class="crumbs">
    <ul class="clearfix">
        <li class="active">即时</li>
        <li>赛果</li>
        <li>赛程</li>
    </ul>
</div>-->
<div class="main" id="main">
    <div class="tab-con">
        <ul class="matchs">
            <!--<li class="end">
                <a href="http://msports.eastday.com/live/171204043000000798699.html">
                    <div class="row1 clearfix">
                        <div class="tt">
                            <div class="tit">
                                <em>04:30</em><br>NBA常规赛
                            </div>
                        </div>
                        <div class="team">
                            <div class="host"><img src="http://imgsports.eastday.com/sports/icons/team/5d807a25118c4d0703c1fac53db6845c.png" alt=""><span>尼克斯</span></div>
                            <div class="visit"><img src="http://imgsports.eastday.com/sports/icons/team/78e0c611acc2f7ba9ea9364beaaa6390.png" alt=""><span>魔术</span></div>
                        </div>
                        <div class="score">
                            <div class="hscore">100</div>
                            <div class="vscore">105</div>
                        </div>
                        <div class="state"><div class="info"><em>集锦</em><em>录像</em></div></div>
                    </div>
                    <div class="row2 clearfix">
                        <p>胜1.13  平5.50  负16.00</p>
                        <span>7个方案></span>
                    </div>
                </a>
            </li><li class="unstart">
                <a href="http://msports.eastday.com/live/171205080000000184367.html">
                    <div class="tt">
                        <div class="tit">
                            <em>08:00</em><br>NBA常规赛
                        </div>
                    </div>
                    <div class="team">
                        <div class="host"><img src="http://imgsports.eastday.com/sports/icons/team/7adc3d69121066812c55450a22e8c49f.png" alt=""><span>76人</span></div>
                        <div class="visit"><img src="http://imgsports.eastday.com/sports/icons/team/330ffb484b1d4910931aea35c7743bbf.png" alt=""><span>太阳</span></div>
                    </div>
                    <div class="score">
                        <i></i>
                    </div>
                    <div class="state">敬请期待</div>
                </a>
            </li>
            <li class="live">
                <a href="http://msports.eastday.com/live/171205080000000184367.html">
                    <div class="tt">
                        <div class="tit">
                            <em>08:00</em><br>NBA常规赛
                        </div>
                    </div>
                    <div class="team">
                        <div class="host"><img src="http://imgsports.eastday.com/sports/icons/team/7adc3d69121066812c55450a22e8c49f.png" alt=""><span>76人</span></div>
                        <div class="visit"><img src="http://imgsports.eastday.com/sports/icons/team/330ffb484b1d4910931aea35c7743bbf.png" alt=""><span>太阳</span></div>
                    </div>
                    <div class="score">
                        <i></i>
                    </div>
                    <div class="state">直播中</div>
                </a>
            </li>-->
        </ul>
    </div>
</div>