<div class="coupon-box">
    <div class="content-main">
        <div class="txt">
            <p>一、风险提示</p>
            <p>1、本付费阅读内容为作者个人提供，文中观点结论和建议仅供参考，不代表平台观点。平台不对投注建议的真实性、准确性、价值性做出判断或审核，亦不为此承担任何法律责任。<br>
                2、付费阅读内容仅作为一种文章的欣赏或者意见的参考，不应作为彩票投注决策的唯一参考因素，任何交易风险或不可预测的其他风险用户应当自行承担。<br>
                3、本付费阅读内容没有考虑到个别用户特殊的投注目标、财务状况或需求，而用户应对自身情况做出基本判断。<br>
                4、付费阅读中可能带有煽动性、确定性的推荐并不构成任何承诺，我们不建议作者给出承诺，而用户在使用本付费阅读功能时亦应注意甄别，慎重、正确使用本内容，独立进行投注决策，防止被误导。<br>
                5、本付费阅读内容仅供购买人本人使用，任何机构和个人均不得以任何形式复制、引用、转载。一经发现，本公司将保留随时追究其法律责任的权利。</p>
            <br>
            <p>二、协议修改</p>
            <p>1、根据互联网的发展和有关法律、法规及规范性文件的变化，或者因业务发展的需要，东方体育有权对本协议的条款作出修改或变更，一旦本协议内容发生变动，东方体育将会直接在网站上（http://sports.eastday.com/hc/）公布修改之后的协议内容，该公布行为视为东方体育已经将修改内容通知到全部用户。<br>
                2、如果不同意东方体育对本协议相关条款所做的修改，用户有权并应当停止使用，如果用户继续使用，则视为用户同意接受东方体育对本协议相关条款所做的修改。</p>
            <br>
            <p>
                三、免责声明</p>
            <p>平台仅基于独立、客观、公正和审慎的原则提供本资讯分享渠道，信息均由用户或第三方提供，本平台对相关信息的真实性、准确性、价值性和完整性不作任何保证。在任何情况下，本资讯中的信息或所表述的意见并不构成对任何人的投注建议，本平台及其雇员不对使用本资讯及其内容所引发的任何直接或间接损失负任何责任。<br>

                平台提供本资讯分享渠道，不意味着对于作者或用户发布的内容负有完整全面的审查义务，但若任意第三方有证据证明本资讯分享平台上作者的内容有任何侵犯第三方合法权益的行为，平台可以采取合理且必要的手段保护第三方的权益不受侵犯。<br>

                本规则最终解释权归东方体育所有。</p>
        </div>
    </div>
</div>