<!--<header class="info_header">
    <i class="back">返回</i><h3>我的订单</h3>
</header>-->
<div class="main">
    <nav>
        <ul class="clearfix">
            <li class="active">全部</li>
            <li>待付款</li>
            <li>交易成功</li>
            <li>交易关闭</li>
            <li>已退款</li>
        </ul>
    </nav>
    <ul class="order_list"></ul>
    <ul class="order_list"></ul>
    <ul class="order_list"></ul>
    <ul class="order_list"></ul>
    <ul class="order_list"></ul>
</div>