<section class="sec-news-list" id="secNewsList">
    <ul class="clearfix"></ul>
</section>
<div id="J_loading" class="loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <p class="txt">数据加载中</p>
</div>
<script src="//msports.eastday.com/h5/js/jquery-3.3.1.min.js"></script>
<script src="//upd10.sogoucdn.com/nstatic/js/sa_v1.0.3.js"></script>
<script type="text/javascript">window.spb_vars = {pcode: 'videolist',ptype: 'zhuantih5'};</script>
<script type="text/javascript">(function($){var _sgaq=window._sgaq||[];var vars=window.spb_vars||{};var util={pbflag:function($el){return $el.closest("[pbflag]").attr("pbflag")||"other"},pbtab:function($el){return $el.closest("[pbtab]").attr("pbtab")||""},pburl:function($el){return $el.attr("pburl")||$el.attr("href")||"null"},urlname:function($el){return $el.find("img").attr("src")||""},text:function($el){var txt=$el.attr("pbtext")||$el.text()||$el.find("img").attr("alt")||$el.find("img").attr("src")||"";return txt.replace(/\s/g,"")},offset:function($el){var offset=$el.offset();return offset.left+"_"+offset.top},link_type:function($el){return/sogou\.com/.test(this.pburl($el))?"link":"outlink"},outlink_host:function($el){var url=(this.pburl($el)||"").match(/http:\/\/([\w\.]+)\b/);return url?url[1]:""}};var handler=function(e){var $this=$(this);var pbtab=this?util.pbtab($this):"";var urlname=this?util.urlname($this):"";var outlink_host=this?util.outlink_host($this):"";var text=this?util.text($this):"";var pos=this?util.offset($this):"0_0";var link_type=this?util.link_type($this):"link";var pbflag=this?util.pbflag($this):"other";var pburl=this?util.pburl($this):"null";var options=$.extend({pbtab:pbtab,urlname:urlname,outlink_host:outlink_host,text:text,pos:pos},e.param||{});_sgaq.push(["_trackEvent",link_type,pbflag,pburl,$.param(options)])};window.Pingback={click:function(context,opts){handler.call(context,opts||{})},show:function(el,opts){_sgaq.push(["_trackEvent","show",util.pbflag(el),"null",$.param(opts||{})])}};$(document).on("click","a",handler);_sgaq.push(["_setPcode",vars.pcode]);_sgaq.push(["_setAccount",vars.ptype]);_sgaq.push(["_trackPageview"])})(jQuery);</script>