<!--<header class="info_header">
    <i class="back">返回</i><h3>我的元宝</h3>
</header>-->
<div class="main">
    <div class="balance">
        <b>0</b>元宝
    </div>
    <div class="links">
        <a class="link" href="recharge.html">充值</a>
        <a class="link" href="#">积分兑换</a>
    </div>
    <div class="detailed">
        <div class="tit">元宝明细</div>
        <ul></ul>
    </div>
</div>