<div class="coupon-box">
<!--<header>
    <i class="back" id="btnAgreementClose"></i><h3>购买协议</h3>
</header>-->
<div class="content-main">
    <p>欢迎您使用东方体育的服务！</p>
    <p>为使用方东方体育的服务，您应当阅读并遵守《东方体育APP用户协议》（以下简称“本协议”）。本协议阐述之条款和条件适用于您使用本协议的各种功能和享受本协议各项授予的服务。本协议双方为享有东方体育所有权的上海东方网股份有限公司（以下简称“东方网”）与东方体育用户，本协议具有合同效力。本协议内容包括本协议正文及东方体育已经发布的或将来可能发布的各类规则、声明等各项规范平台运营及明确本公司和用户权利义务、责任的文件资料。所有规则、声明等均为本协议不可分割的一部分，与本协议具有同等法律效力。在东方体育中没有以“规则”、“声明”字样表示的链接文字所指示的文件就专门的事项与本服务协议有不同规定的， 在不违反本协议基本原则的前提下优先适用其规定，且仅适用于该专门的事项。</p>
    <p>本协议宗旨是为了更好的规范东方体育运营管理，为广大用户提供一个安全、绿色、健康的网络环境，保护网络信息安全，保障公民、法人和其他组织的合法权益，维护国家安全和社会公共利益，东方网根据国家法律法规以及相关规定，制定本协议；</p>
    <p>（1）东方体育在运营中，将按照本协议的有关条款提供网络服务。<br>
        （2）用户应当充分阅读并同意本协议的全部条款并按照页面上的提示完成全部的注册程序，用户在注册过程中点击“同意”按钮即表示用户完全接受本协议项下的全部条款，用户在访问东方体育阅读新闻、登录东方体育进行相关内容活动时，将视为同意接受本协议全部条款的约束，如果用户不同意本协议的内容，则不能获得使用东方体育服务以及注册成为东方体育用户的权利。<br>
        （3）如用户对本协议以及本协议的修改有异议，可通过但不限于书信、电话、电子邮件等说明，明确表示不接受本协议以及本协议的修改，并确已停止使用东方体育的服务，如用户继续使用东方体育账号登录东方体育，则视接受本协议全部内容。<br>
        ( 4 )本协议可由东方体育根据实际情况进行更新，更新后的协议条款一经公布即替代原条款内容并生效，请您注意本协议的更新通知及遵守用户协议的相关约定。</p>

    <p><b>第一部分软件许可和账号申请与使用</b><br>
        1.许可范围：<br>
        （1）东方体育给予用户一项个人的、不可转让及非排他性的许可，以使用本软件。用户可以为非商业目的在单一台终端设备上安装、使用、显示、运行本软件。<br>
        （2）本条及本协议其他条款未明示授权的其他一切权利由东方体育保留，用户在行使这些权利时须另外取得东方体育的书面许可。东方体育如果未行使前述任何权利，并不构成对该权利的放弃。<br>
        2.账号：用户通过在东方体育平台上注册账号，通过账号登录，在东方体育进行相关的活动。<br>
        3.3.属性与管理：东方体育账号的所有权归东方网所有，禁止任何赠与、借用、租用、转让或售卖账号等行为；用户应妥善管理好账号以及密码，由于用户过错或第三方技术原因导致账号被他人非法使用的，用户应该立即通知东方网并配合协助处理，否则，由此导致账号的任何安全问题和法律问题，东方网不承担任何责任。<br>
        <b>第二部分 信息安全保护</b><br>
        1. 东方网将建立健全东方体育用户信息安全管理制度，按照法律相关规定保障用户信息安全。未经用户同意，不会向其他任何公司、组织或个人披露您的个人信息，法律法规另有规定的除外；<br>
        2. 为了更好地提供服务和帮助、保护用户合法权益，用户申请注册时所提供的信息须保证是真实、准确、合法、有效的，并注意及时更新，以免在使用过程中受到限制或无法使用；<br>
        3. 用户在使用东方体育账号和登录东方体育平台过程中，禁止以搜集、复制、存储、传播等任何方式使用其他用户的个人信息，否则，由此产生的后果需用户自行承担。<br>
        <b>第三部分 使用规则</b><br>
        1. 使用规则适用于依托东方体育平台，东方体育的主体，以东方体育为载体的发生的或通过其账号发生的一切活动和事件包括但不限于注册登录、账号运营推广以及其他使用东方体育账号或东方体育所进行的行为；<br>
        2. 用户在使用东方体育服务时，必须遵守中华人民共和国相关法律法规的规定，用户应同意将不会利用东方体育账号和东方体育平台进行任何违法或不正当的活动，包括但不限于下列行为：<br>
        （1）提交、发布虚假信息；<br>
        （2）冒充、利用他人名义发布信息的；<br>
        （3）冒用他人作品；<br>
        （4）强制、诱导其他用户关注、点击链接页面或分享信息的；<br>
        （5）虚构事实、隐瞒真相以误导、欺骗他人的；<br>
        （6）侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的；<br>
        （7）未经东方网书面许可利用东方体育开放账号对第三方运营平台进行推广或互相推广的；<br>
        （8）未经东方网许可使用插件、外挂或其他第三方工具、服务接入本服务和相关系统；<br>
        （9）利用东方体育账号或东方体育平台从事任何违法犯罪活动的；<br>
        （10）制作、发布与以上行为相关的方法、工具，或对此类方法、工具进行运营或传播，无论这些行为是否为商业目的；<br>
        （11）其他违反法律法规规定、侵犯其他用户合法权益、干扰产品正常运营或东方体育未明示授权的行为。<br>
        <b>第四部分 内容规范</b><br>
        1.东方体育发布的内容是指使用东方体育平台过程中所制作、复制、发布、传播的任何内容，包括但不限于账号头像、名称、用户说明等注册信息及其他资料，或文字、语音、图片、视频、图文等发送、回复消息和相关链接页面，以及其他使用东方体育账号或东方体育平台所产生的内容；<br>
        2.用户注册东方体育成功后，请用户管理好自己的账号，遵守本协议的各项条款，并妥善管理和使用账号相关权限，对使用账号在东方体育平台上传、发布的内容，包括但不限于文章文字、评论观点、视频音频、照片表情符号等内容享有合法权益，若发布的内容发生权利纠纷或侵犯任何第三方的合法权益等，用户需承担全部法律责任；<br>
        3 . 不能发布与国家法律法规相悖的内容。根据国家法律法规和相关政策规定，用户不能在东方体育平台上，或以东方体育用户的名义在其他媒体制作平台上制作、上传、发布、传播任何与如下要求相悖的内容：<br>
        （1）反对宪法所确定的基本原则的；<br>
        （2）危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的；<br>
        （3）损害国家荣誉和利益的；<br>
        （4）煽动民族仇恨、民族歧视，破坏民族团结的；<br>
        （5）破坏国家宗教政策，宣扬邪教和封建迷信的；<br>
        （6）散布谣言，扰乱社会秩序，破坏社会稳定的；<br>
        （7）散布淫秽、色情、赌博、暴力、凶杀、恐怖信息或者教唆犯罪的；<br>
        （8）侮辱或者诽谤他人，侵害他人合法权益的；<br>
        （9）含有法律、法规和政策禁止的其他内容的信息；<br>
        4. 为维护东方体育的正常运营及用户的良好体验，用户不能发布低俗、涉及他人隐私、以及纯粹商业广告等内容，内容包括但不限于如下：<br>
        （1）含有任何性或性暗示以及任何其他低俗类信息；<br>
        （2）骚扰、垃圾广告；<br>
        （3）涉及他人隐私、个人信息或资料的任何信息；<br>
        （4）侵害他人名誉权、肖像权、知识产权、商业秘密等合法权利的任何信息；<br>
        （5）含其他干扰东方体育正常运营、侵犯其他用户合法权益内容的信息；<br>
        5. 如果东方体育发现或收到他人举报用户发布的信息违反本条约定，东方体育有权进行独立判断并采取技术手段予以删除、屏蔽或断开链接。同时，东方体育有权视用户的行为性质，采取包括但不限于暂停或终止服务，限制、冻结或终止东方体育账号使用，追究法律责任等措施。<br>
        6. 用户违反上述约定，导致任何第三方损害的，用户应当独立承担责任；东方体育因此遭受损失的，东方体育有权向用户追偿。<br>
        7. 东方网享有东方体育运营权及其涉及到的产品、标识、相关软件的所有权及知识产权权利人。上述知识产权包括但不限于程序代码、界面设计、版面框架、数据资料、帐号、文字、图片、图形、图表、音频、视频、商业标识等，除按照法律法规规定应由相关权利人享有权利的内容以外。<br>
        8. 为维护东方体育的稳定运营，确保用户体验质量，未经东方体育事先书面许可，任何人不得擅自在东方体育上实施自动化行为或发布垃圾信息；自动化行为，是指以用户自行或委托他人采用自动化手段或明显异于常人的、远高于正常用户频率地发布文章、信息、评论、私信、头条文章或作出关注、点赞、抓取数据等的行为；垃圾信息，是指未经东方体育同意，擅自使用东方体育（包括通过作弊手段批量注册的东方体育账号、普通东方体育账号等）在文章、信息、评论、私信、帐号信息、头条文章、群聊内容中发布的营销信息、无意义信息或卖粉信息；<br>
        9. 用户知悉并同意，东方体育有权根据技术规则通过检测验证等方式判断用户帐号行为是否构成自动化行为、用户帐号所发布的信息是否为垃圾信息，并采取相关措施予以处理。所有处理措施所依据的数据及信息（包括但不限于帐号操作记录、文章内容、转评赞等）均以东方体育后台记录为准。<br>
        10. 用户从官方渠道下载安装并运行“东方体育”软件（APP），可参与东方体育活动，并依照活动规则，获取收益。长期不登录“东方体育”软件的用户（非活跃用户）所获得收益（包括金币及零钱）自动被清零，账户进行初始化。长期不登录指30天（自然日）内没有登录“东方体育”软件。<br>
        <b>第五部分 知识产权</b><br>
        1. 用户同意其在东方体育上发布的内容，包括但不限于文字、图片、视频、音频等，不论其内容是否构成著作权法意义上的可保护客体，用户应保证其为著作权人或已取得合法授权或转授权权利，并且该内容不会侵犯任何第三方的合法权益；<br>
        2. 用户同意授予东方体育所有上述内容在全球范围内的免费、不可撤销的、无期限限制的、可再许可或转让的非独家使用权许可，据该许可东方体育将有权以展示、推广及其他不为我法律所禁止的方式使用前述内容；
        3. 未经东方体育事先书面许可，用户不得自行或授权任何第三方以任何形式直接或间接使用上述在东方体育发布的内容，包括但不限于自行或授权任何第三方发表、复制、转载、更改、引用、链接、下载、同步或以其他方式使用部分或全部上述在东方体育发布的内容等；<br>
        4. 用户同意并无偿授权东方网以东方网的名义就侵犯用户合法权益的行为（包括但不限于私自复制、使用、编辑、抄袭、转载、传播、在第三方平台上再次发布内容等行为）采取任何形式的法律行为，包括但不限于投诉、诉讼等必要的维权措施，由此获取的全部赔偿款项归东方体育独立所有，同时，用户承诺积极配合东方体育行使上述权利，并按照东方体育要求提供相应的证明文件和相关协助。<br>
        <b>第六部分 授权范围</b><br>
        1. 用户可以在个人计算机或者手机上安装、使用、显示、运行本东方体育。<br>
        2 . 保留权利：未明示授权的其他一切权利仍归公司所有，用户使用其他权利时须另外取得公司的书面同意。<br>
        3.除本协议有明确规定外，本协议并未对利用本软件访问的公司或合作单位的其他服务规定相关的服务条款，对于这些服务有可能有单独的服务条款加以规范，请用户在使用有关服务时另行了解与确认。<br>
        <b>第七部分 法律责任</b><br>
        1. 用户同意东方网就侵犯用户作品著作权的行为（包括但不限于复制、使用、编辑、抄袭、第三方平台发布等行为）采取任何形式的维权行为，包括但不限于投诉、诉讼等必要的维权措施，用户同意东方网可以自行转授权上述权利。由此获取的全部赔偿款项东方网可以自行使用以承担维权行为中发生的一切费用。同时，用户承诺积极配合东方网行使上述权利，并按照东方网的要求提供相应的证明文件及必要的协助。<br>
        2. 如果东方网发现或收到他人举报或投诉东方体育用户违反本协议约定的，东方网有权随时对相关内容进行删除，并视行为情节对违规账号处以包括但不限于警告、删除部分或全部订阅用户、限制或禁止使用全部或部分功能、账号封禁直至注销的处罚，并公告处理结果；<br>
        3. 用户理解并同意，东方网有权依合理判断对反东方体育用户协议规定的用户进行处罚，如发现有违法违规等情况，对违法违规的任何人依据法律法规保存有关信息向有关部门报告等，用户应独自承担由此而产生的一切法律责任；<br>
        4. 用户理解并同意，因用户违反本协议或相关的服务条款的规定，导致或产生的任何第三方主张的任何索赔、要求或损失，包括合理的律师费，用户应当承担全部责任并赔偿东方网与合作公司、关联公司的全部损失；<br>
        5. 用户应保证其合法合规使用东方体育服务，不得进行自动化行为、发布垃圾信息、恶意刷评论、批量注册、自动回复，不得在东方体育中植入木马，强制、强行以非正常手段或东方体育以及东方网不认可的方式使用东方体育服务，由于用户行为不适当、不合法等给东方体育或者东方网给造成损失的，用户应进行赔偿，包括但不限于实际损失、可得利益损失、诉讼费、律师费等。<br>
        6. 如果东方体育发现或收到他人举报或投诉用户通过违法违规等非正常手段获取金币、收徒、赚取金钱等行为，东方体育有权对账户内的金币、零钱除以包括但不限于收回、清空以及账号封禁的处罚，如已将金币套现东方体育有权追溯其法律责任。<br>
        <b>第八部分 免责声明</b><br>
        1. 用户直接或通过各类方式（如站外API引用等）间接使用东方体育服务和数据的行为，都将被视作已无条件接受本声明所涉全部内容；若用户对本声明的任何条款有异议，请停止使用东方体育所提供的全部服务。<br>
        2. 东方体育为用户发布的内容提供存储空间，东方体育不对用户发表、转载的内容提供任何形式的保证：不保证内容满足用户的要求，不保证东方体育的服务不会中断。因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致您不能正常使用东方体育，东方体育不承担任何法律责任。<br>
        3. 用户在东方体育发表的内容（包含但不限于东方体育目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表东方体育的立场或观点。用户作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内容的发表者承担全部法律及连带责任。东方体育不承担任何法律及连带责任。<br>
        4. 东方体育为用户提供的任何广告宣传信息，用户应谨慎判断确定相关广告或信息。除非另有明确的书面说明，各商家在东方体育软件发布的广告、信息、内容、材料均不构成东方体育对任何线上或线下交易行为的推荐或担保，法律法规另有规定的除外。<br>
        5. 用户在东方体育发布侵犯他人知识产权或其他合法权益的内容，东方体育有权予以删除，并保留移交司法机关处理的权利。<br>
        6. 任何个人或单位如认为东方体育上存在侵犯自身合法权益的内容，应准备好具有法律效力的证明材料，及时与东方体育取得联系，以便东方体育迅速做出处理。<br>
        <b>第九部分 生效与变更</b><br>
        1. 用户使用本服务即视已阅读并同意受本协议的约束；<br>
        2. 东方网有权在必要时修改本协议条款。用户可以在相关服务页面查阅最新版本的协议条款；<br>
        3. 本协议条款变更后，如果用户继续使用东方体育服务，即视为用户已接受修改后的协议，如果用户不接受修改后的协议，应当停止使用东方体育服务。<br>
        <b>第十部分 其他</b><br>
        1. 本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据；<br>
        2. 本协议签订地为中华人民共和国上海市浦东新区；<br>
        3. 本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律；<br>
        4. 若用户和东方网之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，争议中任何一方均有权将纠纷或争议向本协议签订地有管辖权的人民法院提起诉讼；<br>
        5. 本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束；<br>
        6. 东方网对本使用协议享有最终解释权。<br>

        <p style="text-align: right;margin-top: 5px;"><b>上海东方网股份有限公司</b></p>
    <p style="text-align: right;margin-top: 5px;"><b>2018年5月14日</b></p>
    </p>
</div>
</div>