<!--<header class="info_header">
    <i class="back"></i><h3>充值</h3>
</header>-->
<div class="main">
    <div class="content">
        <p class="state">
            <span class="success">充值成功</span>
            <span class="fail">充值失败</span>
        </p>
    </div>
    <p class="links"><a class="back" href="javascript:void(0)">返回上一级</a></p>
</div>