<header>
</header>
<nav class="header-nav">
    <ul>
        <li>
            <a href="javascript:;" data-type="match" class="active">赛程</a>
        </li>
        <li>
            <a href="javascript:;" data-type="news" class="">资讯</a>
        </li>
        <li>
            <a href="javascript:;" data-type="data" class="">数据</a>
        </li>
    </ul>
</nav>
<section class="data-main">
    <section class="match item active">
        <nav class="match-nav main-nav">
            <ul>
                <li>
                    <a href="javascript:;" data-type="shootOut" class="show">淘汰赛</a>
                </li>
                <li>
                    <a href="javascript:;" data-type="againstPlan" class="">对阵图</a>
                </li>
                <li>
                    <a href="javascript:;" data-type="groupPhase" class="">小组赛</a>
                </li>
            </ul>
        </nav>
        <div class="againstPlan match-item ">
            <div class="content" id="duelTab">

            </div>
        </div>
        <div class="groupPhase match-item">
            <div class="tab-h" id="matchShootOutNav">
                <div class="tab-item show" data-type="all">全部</div>
                <div class="tab-item" data-type="A">A组</div>
                <div class="tab-item " data-type="B">B组</div>
                <div class="tab-item" data-type="C">C组</div>
                <div class="tab-item" data-type="D">D组</div>
                <div class="tab-item" data-type="E">E组</div>
                <div class="tab-item" data-type="F">F组</div>
                <div class="tab-item" data-type="G">G组</div>
                <div class="tab-item" data-type="H">H组</div>
            </div>
            <div class="tab-b">
                <ul class="matchs">
                    <!-- <li class="end">
                        <a href="http://msports.eastday.com/live/180509024500000360065.html">
                            <div class="tt">
                                6-15<br>
                                02:45
                            </div>
                            <div class="team">
                                <div class="host">
                                    <img src="http://imgsports.eastday.com/sports/icons/team/3354c0217a99975e95d703f9bbe838d5.png" alt="">
                                    <span>斯旺西</span>
                                </div>
                                <div class="visit">
                                    <img src="http://imgsports.eastday.com/sports/icons/team/c1a25ea035390eea7cebc8a03ea85b41.png" alt="">
                                    <span>南安普顿</span>
                                </div>
                            </div>
                            <div class="score">
                                <div class="hscore">0</div>
                                <div class="vscore">1</div>
                            </div>
                            <div class="state">
                                <div class="info">
                                    <em>集锦</em>
                                    <em>录像</em>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="end">
                        <a href="http://msports.eastday.com/live/180509024500000360065.html">
                            <div class="tt">
                                02:45
                            </div>
                            <div class="team">
                                <div class="host">
                                    <img src="http://imgsports.eastday.com/sports/icons/team/3354c0217a99975e95d703f9bbe838d5.png" alt="">
                                    <span>斯旺西</span>
                                </div>
                                <div class="visit">
                                    <img src="http://imgsports.eastday.com/sports/icons/team/c1a25ea035390eea7cebc8a03ea85b41.png" alt="">
                                    <span>南安普顿</span>
                                </div>
                            </div>
                            <div class="score">
                                <div class="hscore">0</div>
                                <div class="vscore">1</div>
                            </div>
                            <div class="state">
                                <div class="info">
                                    已结束
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="living">
                        <a href="http://msports.eastday.com/live/180509024500000360065.html">
                            <div class="tt">
                                02:45
                            </div>
                            <div class="team">
                                <div class="host">
                                    <img src="http://imgsports.eastday.com/sports/icons/team/3354c0217a99975e95d703f9bbe838d5.png" alt="">
                                    <span>斯旺西</span>
                                </div>
                                <div class="visit">
                                    <img src="http://imgsports.eastday.com/sports/icons/team/c1a25ea035390eea7cebc8a03ea85b41.png" alt="">
                                    <span>南安普顿</span>
                                </div>
                            </div>
                            <div class="score">
                                <div class="hscore">0</div>
                                <div class="vscore">1</div>
                            </div>
                            <div class="state">
                                <div class="info">
                                    <em>直播中</em>
                                    <br> 企鹅直播
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="unstart">
                        <a href="http://msports.eastday.com/live/180509024500000360065.html">
                            <div class="tt">
                                02:45
                            </div>
                            <div class="team">
                                <div class="host">
                                    <img src="http://imgsports.eastday.com/sports/icons/team/3354c0217a99975e95d703f9bbe838d5.png" alt="">
                                    <span>斯旺西</span>
                                </div>
                                <div class="visit">
                                    <img src="http://imgsports.eastday.com/sports/icons/team/c1a25ea035390eea7cebc8a03ea85b41.png" alt="">
                                    <span>南安普顿</span>
                                </div>
                            </div>
                            <div class="score">
                                <div class="hscore">0</div>
                                <div class="vscore">1</div>
                            </div>
                            <div class="state">
                                <div class="info">
                                    企鹅传播
                                    <br> CCTV5+
                                </div>
                            </div>
                        </a>
                    </li> -->
                </ul>
            </div>
        </div>
        <div class="shootOut match-item match-active">
            <div class="tab-b">
                <ul class="matchs">
                </ul>
            </div>
        </div>
    </section>
    <ul class="news  item "></ul>
    <section class="data  item ">
        <nav class="data-nav main-nav">
            <ul>
                <li>
                    <a href="javascript:;" data-type="score" class="show">积分榜</a>
                </li>
                <li>
                    <a href="javascript:;" data-type="lists" class="">排行榜</a>
                </li>
            </ul>
        </nav>
        <div class="score data-item data-active ">
            <div class="tab-h" id="dataScoreNav">
                <div class="tab-item show" data-type="all">全部</div>
                <div class="tab-item" data-type="A">A组</div>
                <div class="tab-item " data-type="B">B组</div>
                <div class="tab-item" data-type="C">C组</div>
                <div class="tab-item" data-type="D">D组</div>
                <div class="tab-item" data-type="E">E组</div>
                <div class="tab-item" data-type="F">F组</div>
                <div class="tab-item" data-type="G">G组</div>
                <div class="tab-item" data-type="H">H组</div>
            </div>
            <div class="tab-b">
                <table>
                    <thead>
                        <tr>
                            <th>排名</th>
                            <th>胜/平/负</th>
                            <th>进/失球</th>
                            <th>积分</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="lists data-item">
            <div class="tab-h" id="dataListsNav">
                <div class="tab-item show" data-type="jinqiubang">射手榜</div>
                <div class="tab-item" data-type="zhugongbang">助攻榜</div>
            </div>
            <div class="tab-b">
                <table>
                    <thead>
                        <tr>
                            <th>排名</th>
                            <th>球队</th>
                            <th>进球</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </section>
</section>