<div class="sec1">
    <div class="head-img">
        <img src="" alt="">
    </div>
    <div class="name">-</div>
    <div class="info clearfix">
        <div class="item">

                <h3>-</h3>
                <p>金币</p>

        </div>

        <div class="item">
            <a href="yuanbao.html">
            <h3>-</h3>
            <p>元宝</p>
            </a>
        </div>
    </div>
    <!--<div class="back"></div>
    <div class="sign-in active"></div>-->
</div>
<div class="sec2">
    <ul>
        <li>
            <a href="attention.html">
            <icon></icon>
            <div class="r">
                <h3>我的专家</h3>
                <i></i>
            </div>
            </a>
        </li>
        <li>
            <a href="order.html">
            <icon></icon>
            <div class="r">
                <h3>我的订单</h3>
                <i></i>
            </div>
            </a>
        </li>
        <li>
            <a href="coupon.html">
                <icon></icon>
                <div class="r">
                    <h3>我的优惠券</h3>
                    <i></i>
                </div>
            </a>
        </li>
        <li>
            <a href="message.html">
                <icon></icon>
                <div class="r">
                    <h3>我的消息</h3>
                    <i></i>
                </div>
            </a>
        </li>
        <li>
            <a href="<%= ROOT_URL_HC %>all_data.html?datatype=t&classtype=nba">
                <icon></icon>
                <div class="r">
                    <h3>数据</h3>
                    <i></i>
                </div>
            </a>
        </li>
    </ul>
</div>
<div class="log-out">
    退出登录
</div>

