<% if (IS_PRODUCTION) { %>

<% }else { %>

<% } %>
<div class="main">
    <h3 class="mb2">活动规则</h3>
    <p class="rule"><i>1.</i>本次世界杯竞猜完全免费。</p>
    <p class="rule"><i>2.</i>每轮赛事用户最多参与1次投注。</p>
    <p class="rule"><i>3.</i>竞猜截止时间为比赛开始前10分钟。</p>
    <p class="rule"><i>4.</i>竞猜结果将在比赛结束后12小时内公布。请绑定支付宝后领取。请在3天内领取，过期则视为放弃。</p>
    <p class="rule"><i>5.</i>所有胜平负结果以XXX数据为准，包括场上发生不可控事件，裁判直接判定比赛胜平负等情况。</p>
    <p class="rule"><i>6.</i>本次活动最终解释权归五星体育所有。</p>
    <h3 class="mb2">如何领奖</h3>
    <p class="rule"><i>1.</i>我们用支付宝给大家发现金；</p>
    <p class="rule"><i>2.</i>领奖流程如下：</p>
        <div class="content">
            <p class="rule_2"><i>1</i>进入到竞猜活动主页，点击进入“我的竞猜”</p>
            <img src="//sports.eastday.com/jscss/v4/img/jingcai_rule/2_1.jpg" alt="">
            <p class="rule_2"><i>2</i> 在“我的竞猜”页面，点击右上角红色字，进入绑定页面</p>
            <img src="//sports.eastday.com/jscss/v4/img/jingcai_rule/2_2.jpg" alt="">
            <p class="rule_2"><i>3</i>输入支付宝账户、支付宝姓名进行绑定</p>
            <img src="//sports.eastday.com/jscss/v4/img/jingcai_rule/2_3.jpg" alt="">
            <p class="rule_2"><i>4</i>绑定成功，点击领取按钮</p>
            <img src="//sports.eastday.com/jscss/v4/img/jingcai_rule/2_4.jpg" alt="">
            <p class="rule_2"><i>5</i>领取成功后的页面</p>
            <img src="//sports.eastday.com/jscss/v4/img/jingcai_rule/2_5.jpg" alt="">
        </div>
    <p class="rule"><i>3.</i>如何查看领到的奖金：</p>
        <div class="content">
            <p class="rule_2"><i>1</i>在支付宝【我的】里面，点击【余额】</p>
            <img src="//sports.eastday.com/jscss/v4/img/jingcai_rule/3_1.jpg" alt="">
            <p class="rule_2"><i>2</i>在余额中点击【明细】，你就能看到我们给你转了一笔钱 </p>
            <img src="//sports.eastday.com/jscss/v4/img/jingcai_rule/3_2.jpg" alt="">
        </div>
</div>