//@import "~public/sass/hc/common.scss";
//@import "~public/sass/hc/message.scss";
html {
  min-height: 100%;
}

body {
  min-height: 100%;
}
.header{
  height: .8rem;
  text-align: center;
  color: #333;
  font-size: .32rem ;
  line-height: .8rem;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  .back{
    position: absolute;
    left: 0;
    top: 0;
    width: 1.4rem;
    text-align: left;
    text-indent: .68rem;
    color: #999;
    height: 100%;
    background: url("../../../public-resource/imgs/jingcai/i_back_icon.png") .4rem center no-repeat;
    background-size: .18rem .3rem ;
  }
}
.main{
  padding:  .5rem  .6rem;
  h3{
    font-size: .34rem;
    line-height: .6rem;
  }
  p{
    font-size: .3rem ;
    line-height: .52rem;
    color: #333;
    margin-bottom: .24rem;
    position: relative;
    i{
      position: absolute;
      left: -.4rem;
      top: 0;
      font-weight: 600;
      color: #b4b4b4;
    }
  }
  .mb2{
    margin-top: .6rem;
  }
  .rule{
    text-indent: .4rem;
    margin-bottom: .15rem;
  }
  .rule_2{
    i{
      font-size: .24rem ;
      font-weight: normal;
      border: 1px solid #ccc;
      width: .36rem;
      height: .36rem;
      line-height: .36rem;
      top: .1rem;
      left: -.5rem;
      text-align: center;
      border-radius: 50%;
    }

  }
  .content{
    padding-left: 1rem;
    img{
      width: 4.8rem;
      margin-bottom: .4rem;
    }
  }
}