<div class="main" >
    <nav>
        <ul class="clearfix">
            <li class="active">关注</li>
            <li><a href="./index.html?from=top_nav_1" suffix="top_nav_1">推荐</a></li>
            <li><a href="./expertslist.html?from=top_nav_2" suffix="top_nav_2">专家</a></li>
        </ul>
    </nav>
    <div class="part_4">
        <ul></ul>
        <div class="login"><div class="ctb"><p>你还未登录，点击进行登录</p><a href="./login.html">去登录</a></div></div>
        <div class="follow"><div class="ctb"><p>无新方案</p><a href="javascript:; " suffix="gz_gz">去关注</a></div></div>
        <div class="load"><div class="ctb"><p>糟糕！网络开小差了</p><a href="javascript:location.reload();">重新加载</a></div></div>
    </div>

    <div class="part_2">
        <div class="part_tit">
            专家推荐
        </div>
        <ul class="clearfix">

        </ul>
    </div>
    <div class="bottom_nav"></div>
</div>
